In [411]:
import pandas as pd
import numpy as np
import os
import unicodedata
import re
from collections import defaultdict

# Define a manual replacement dictionary
replacement_map = {
    "ø": "o",
    "ł": "l",
    "đ": "d",
    "ŋ": "n",
    "ß": "ss",
    "æ": "ae",
    "œ": "oe",
    "ð": "d",
    "þ": "th",
    "ĸ": "k"
}

KICKER_FILE='D:\\DevOps\\python_work\\venv\\demoenv\\resources\\output_k.json'
TF_FILE='D:\\DevOps\\python_work\\venv\\demoenv\\resources\\output_tf.json'
FIFA_FILE='D:\\DevOps\\python_work\\venv\\demoenv\\resources\\players_fifa.json'

def load_json_file_into_dataframe(file:str):
    try:
        # Check if file exists
        if not os.path.exists(file):
            raise FileNotFoundError(f"File '{file}' not found.")

        # Load JSON file into a DataFrame
        print(f"Loadinf {file}...")
        return pd.read_json(file)
    except FileNotFoundError as fnf_error:
            print(fnf_error)
            return []
        
def drop_columns_from_dataframe(data:pd.DataFrame, columns:list):
    return data.drop(columns, axis='columns')

def dataframe_reports(data_list:list):
    [(dataframe_report(data)) for data in data_list]    

def transform_to_datetime(data:pd.DataFrame, key:str):
    data[key] = pd.to_datetime(data[key], errors="coerce")
    return data

def dataframe_report(data:pd.DataFrame):
    print(f"Data frame has {len(data)} entries.")
    print(data.info())

# Function to normalize names
def normalize_name(first_name, last_name):
    # Convert None to empty string
    first_name = first_name or ""
    last_name = last_name or ""
    
    # Convert to lowercase
    full_name = f"{first_name} {last_name}".strip().lower()
    
    # Remove accents and special characters
    full_name = ''.join(
        c for c in unicodedata.normalize("NFKD", full_name) if unicodedata.category(c) != "Mn"
    )

    # Normalize to NFKD (splits special characters from accents)
    normalized = unicodedata.normalize("NFKD", full_name)
    
    # Convert accents to base ASCII equivalent
    ascii_text = "".join(c for c in normalized if not unicodedata.combining(c))
    
    # Apply manual replacements for specific cases
    for special_char, replacement in replacement_map.items():
        ascii_text = ascii_text.replace(special_char, replacement)
    
    # Replace spaces with underscores
    full_name = re.sub(r"\s+", "_", full_name)
    
    return full_name

# Check for near matches (only among unmatched)
def is_similar(name1, name2):
    #print(f"{name1} :: {name2}")
    """Check if two names are similar by length difference and common substrings."""
    if name1 is None or name2 is None:
        return False
    if not isinstance(name1, str) or not isinstance(name2, str):
        return False
    if abs(len(name1) - len(name2)) > 10:  # Allow minor length variations
        return False
    return name1 in name2 or name2 in name1  # Simple containment check

def match_on_additional_atributes(merged_df:pd.DataFrame):
    unmatched_df1 = merged_df[merged_df["_merge"] == "left_only"]
    unmatched_df2 = merged_df[merged_df["_merge"] == "right_only"]
    
    # Secondary matching on similar names but same date_of_birth
    index_list = []
    df_um = pd.DataFrame(columns=merged_df.columns)
    for index1, row1 in unmatched_df1.iterrows():
        for index2, row2 in unmatched_df2.iterrows():
            if row1["dateOfBirth"] == row2["dateOfBirth"]:
                # Check if names are similar
                norm1 = row1["normalized_name"]
                norm2 = row2["normalized_name"]
                if (norm1 in norm2 or norm2 in norm1
                    or is_similar(row1["firstName_x"], row2["firstName_y"])
                    or is_similar(row1["lastName_x"], row2["lastName_y"])
                    ):  # Basic substring match
                    
                    s1 = pd.Series(row1)
                    s2 = pd.Series(row2)
                    if np.isnan(df_um.index.max()):
                        df_um.loc[unmatched_df1.index.max() + 1] = s1.combine_first(s2)
                    else:
                        df_um.loc[df_um.index.max() + 1] = s1.combine_first(s2)

                    index_list.append(index1)
                    index_list.append(index2)
                    #print(row1)
    print(f"index list> {index_list}")
    print(f"merged_df count> {len(merged_df)}")
    merged_df.drop(index_list, inplace=True)
    print(f"merged_df count> {len(merged_df)}")
    
    #merged_df.iloc[index_list]["_merge"] = 'merged'
    df_um["_merge"]='both_'
    return df_um

def remove_players_from_wrong_competition(data:pd.DataFrame, key:str):
    # Count occurrences of each club
    club_counts = data[key].value_counts()
    clubs_filtered=club_counts[club_counts<5].index.tolist()
    data_filtered = data[~data[key].isin(clubs_filtered)]
    print(f"From {len(data)} are {len(data_filtered)} left > {len(data)-len(data_filtered)} removed.")
    return data_filtered

def group_players_by_team(data:pd.DataFrame, team_key:str):
    keys=data.columns.to_list()
    # Grouping by 'team'
    team_dict = (data.groupby(keys[2]).
                 agg({keys[0]: list, keys[1]: list}).
                 #apply(lambda x: {"count": len(x["firstName"]),"players": list(zip(x["firstName"], x["lastName"]))}, axis=1).
                 apply(lambda x: {"count": len(x[keys[0]])}, axis=1).
                 to_dict())

    return team_dict

def merge_dataframes(df1:pd.DataFrame, df2:pd.DataFrame, merge_on:list, how="outer"):
    # Merge DataFrames
    merged_df = pd.merge(df1, df2, how=how, left_on=merge_on, right_on=merge_on, indicator=True)

    # Count matches and non-matches
    matched_entries = merged_df["_merge"].value_counts().get("both", 0)
    unmatched_entries = merged_df["_merge"].value_counts().get("left_only", 0) + merged_df["_merge"].value_counts().get("right_only", 0)

    print(f"Total merged (found) entries: {matched_entries}")
    print(f"Total without hits: {unmatched_entries}")

    return merged_df 

def report_unmachted_items(df:pd.DataFrame):
    # Show only the unmatched entries
    unmatched_df = df[df["_merge"] != "both"][["normalized_name", "_merge", "nn_x", "nn_y"]]
    print("\nEntries without a match:\n", unmatched_df)

kicker=load_json_file_into_dataframe(KICKER_FILE)
tf=load_json_file_into_dataframe(TF_FILE)
fifa=load_json_file_into_dataframe(FIFA_FILE)

kicker=drop_columns_from_dataframe(kicker, ["geburtsname", "namensverlauf"])
tf=drop_columns_from_dataframe(tf, ["Outfitter", "nativeName"])

# transform to date type 
kicker = transform_to_datetime(kicker, "dateOfBirth")
tf = transform_to_datetime(tf, "dateOfBirth")
fifa = transform_to_datetime(fifa, "birthdate")

# Apply name normalization
kicker["normalized_name"] = kicker.apply(lambda row: normalize_name(row["firstName"], row["lastName"]), axis=1)
tf["normalized_name"] = tf.apply(lambda row: normalize_name(row["first_name"], row["last_name"]), axis=1)
kicker["nn"] = kicker.apply(lambda row: normalize_name(row["firstName"], row["lastName"]), axis=1)
tf["nn"] = tf.apply(lambda row: normalize_name(row["first_name"], row["last_name"]), axis=1)
fifa["normalized_name"] = fifa.apply(lambda row: normalize_name(row["firstName"], row["lastName"]), axis=1)
fifa["nn"] = fifa.apply(lambda row: normalize_name(row["firstName"], row["lastName"]), axis=1)

kicker=remove_players_from_wrong_competition(kicker, "currentClub")
tf=remove_players_from_wrong_competition(tf, "currentClub")
fifa=remove_players_from_wrong_competition(fifa, "team")

tf=tf.rename(columns={"first_name":"firstName", "last_name":"lastName"})
fifa=fifa.rename(columns={"birthdate":"dateOfBirth"})

kicker=kicker.drop_duplicates(subset=["normalized_name", "dateOfBirth"])

kicker["source"] = "kicker"
tf["source"] = "tf"
fifa["source"] = "fifa"

dataframe_reports([kicker, tf, fifa])

Loadinf D:\DevOps\python_work\venv\demoenv\resources\output_k.json...
Loadinf D:\DevOps\python_work\venv\demoenv\resources\output_tf.json...
Loadinf D:\DevOps\python_work\venv\demoenv\resources\players_fifa.json...
From 551 are 516 left > 35 removed.
From 508 are 498 left > 10 removed.
From 483 are 483 left > 0 removed.
Data frame has 505 entries.
<class 'pandas.core.frame.DataFrame'>
Index: 505 entries, 0 to 547
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               505 non-null    object
 1   firstName        505 non-null    object
 2   lastName         505 non-null    object
 3   currentClub      505 non-null    object
 4   dateOfBirth      505 non-null    datetime64[ns]
 5   height           505 non-null    int64
 6   weight           505 non-null    int64
 7   position         505 non-null    object
 8   nations          505 non-null    object
 9   age              505 non-null    int64
 10  normalized_name  505 non-null    object
 11  nn               505 non-null    object
 12  source           505 non-null    object
dtypes: datetime64[ns](1), int64(3), object(9)
memory usage: 55.2+ KB
None
Data frame has 498 entries.
<class 'pandas.core.frame.DataFrame'>
Index: 498 entries, 0 to 507
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               498 non-null    int64
 1   slug             498 non-null    object
 2   lastName         498 non-null    object
 3   firstName        498 non-null    object
 4   dateOfBirth      498 non-null    datetime64[ns]
 5   placeOfBirth     493 non-null    object
 6   height           496 non-null    float64
 7   citizenship      498 non-null    object
 8   position         498 non-null    object
 9   foot             491 non-null    object
 10  currentClub      498 non-null    object
 11  joined           498 non-null    object
 12  expires          498 non-null    object
 13  marketValue      498 non-null    object
 14  normalized_name  498 non-null    object
 15  nn               498 non-null    object
 16  source           498 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(1), object(14)
memory usage: 70.0+ KB
None
Data frame has 483 entries.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 483 entries, 0 to 482
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               483 non-null    int64
 1   rank             483 non-null    int64
 2   overallRating    483 non-null    int64
 3   firstName        483 non-null    object
 4   lastName         483 non-null    object
 5   dateOfBirth      483 non-null    datetime64[ns]
 6   height           483 non-null    int64
 7   preferredFoot    483 non-null    int64
 8   leagueName       483 non-null    object
 9   weight           483 non-null    int64
 10  nationality      483 non-null    object
 11  team             483 non-null    object
 12  position         483 non-null    object
 13  stats            483 non-null    object
 14  normalized_name  483 non-null    object
 15  nn               483 non-null    object
 16  source           483 non-null    object
dtypes: datetime64[ns](1), int64(6), object(10)
memory usage: 64.3+ KB
None

C:\Users\Der David\AppData\Local\Temp\ipykernel_7588\3731244769.py:46: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data[key] = pd.to_datetime(data[key], errors="coerce")

In [63]:
merged_df=merge_dataframes(kicker, tf, ["normalized_name","dateOfBirth"])
print(merged_df.index.is_unique)
report_unmachted_items(merged_df)
print(merged_df.info())

print(f"merged_df BEFORE> {len(merged_df)}")
df_um=match_on_additional_atributes(merged_df)
print(f"merged_df AFTER> {len(merged_df)}")

print(merged_df["_merge"].value_counts())
print(df_um["_merge"].value_counts())
df_combined = pd.concat([merged_df, df_um], ignore_index=True)

# Count matches and non-matches
matched_entries = df_combined["_merge"].value_counts().get("both", 0) + df_combined["_merge"].value_counts().get("both_", 0) 
unmatched_entries = df_combined["_merge"].value_counts().get("left_only", 0) + df_combined["_merge"].value_counts().get("right_only", 0)

print("\n")
print(f"Total players (found) entries: {len(df_combined)}")
print(f"Total merged (found) entries: {matched_entries}")
print(f"Total without hits: {unmatched_entries}")
report_unmachted_items(df_combined)

Total merged (found) entries: 483
Total without hits: 37
True

Entries without a match:
              normalized_name      _merge                     nn_x  \
49            artem_stepanov   left_only           artem_stepanov
66   eric_junior_dina_ebimbe   left_only  eric_junior_dina_ebimbe
68             oscar_hojlund   left_only            oscar_hojlund
85                 maxim_dal   left_only                maxim_dal
94             hyunseok_hong   left_only            hyunseok_hong
144              viggo_gebel   left_only              viggo_gebel
147     joyeux_masanka_bungi   left_only     joyeux_masanka_bungi
152                     xavi   left_only                     xavi
158               faik_sakar   left_only               faik_sakar
174            bennit_broger   left_only            bennit_broger
183          mohammed_amoura   left_only          mohammed_amoura
217    tiago_pereira_cardoso   left_only    tiago_pereira_cardoso
223            julian_chabot   left_only            julian_chabot
257           almugera_kabar   left_only           almugera_kabar
343            leo_ostigaard   left_only            leo_ostigaard
344          finn_ole_becker   left_only          finn_ole_becker
361         erencan_yardimci   left_only         erencan_yardimci
368      oluwaseun_ogbemudia   left_only      oluwaseun_ogbemudia
396             luca_gunther   left_only             luca_gunther
467        andu_yobel_kelati   left_only        andu_yobel_kelati
489       omar_haktab_traore   left_only       omar_haktab_traore
497         leonardo_scienza   left_only         leonardo_scienza
505              omar_traore  right_only                      NaN
506              leo_scienza  right_only                      NaN
507           hyun-seok_hong  right_only                      NaN
508          luca_novodomsky  right_only                      NaN
509           almugera_kabar  right_only                      NaN
510            oscar_højlund  right_only                      NaN
511       junior_dina_ebimbe  right_only                      NaN
512              andu_kelati  right_only                      NaN
513              xavi_simons  right_only                      NaN
514             leo_østigard  right_only                      NaN
515              finn_becker  right_only                      NaN
516         florian_micheler  right_only                      NaN
517         erencan_yardımcı  right_only                      NaN
518              jeff_chabot  right_only                      NaN
519           mohamed_amoura  right_only                      NaN

                   nn_y
49                  NaN
66                  NaN
68                  NaN
85                  NaN
94                  NaN
144                 NaN
147                 NaN
152                 NaN
158                 NaN
174                 NaN
183                 NaN
217                 NaN
223                 NaN
257                 NaN
343                 NaN
344                 NaN
361                 NaN
368                 NaN
396                 NaN
467                 NaN
489                 NaN
497                 NaN
505         omar_traore
506         leo_scienza
507      hyun-seok_hong
508     luca_novodomsky
509      almugera_kabar
510       oscar_højlund
511  junior_dina_ebimbe
512         andu_kelati
513         xavi_simons
514        leo_østigard
515         finn_becker
516    florian_micheler
517    erencan_yardımcı
518         jeff_chabot
519      mohamed_amoura
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_x             505 non-null    object
 1   firstName_x      505 non-null    object
 2   lastName_x       505 non-null    object
 3   currentClub_x    505 non-null    object
 4   dateOfBirth      520 non-null    datetime64[ns]
 5   height_x         505 non-null    float64
 6   weight           505 non-null    float64
 7   position_x       505 non-null    object
 8   nations          505 non-null    object
 9   age              505 non-null    float64
 10  normalized_name  520 non-null    object
 11  nn_x             505 non-null    object
 12  source_x         505 non-null    object
 13  id_y             498 non-null    float64
 14  slug             498 non-null    object
 15  lastName_y       498 non-null    object
 16  firstName_y      498 non-null    object
 17  placeOfBirth     493 non-null    object
 18  height_y         496 non-null    float64
 19  citizenship      498 non-null    object
 20  position_y       498 non-null    object
 21  foot             491 non-null    object
 22  currentClub_y    498 non-null    object
 23  joined           498 non-null    object
 24  expires          498 non-null    object
 25  marketValue      498 non-null    object
 26  nn_y             498 non-null    object
 27  source_y         498 non-null    object
 28  _merge           520 non-null    category
dtypes: category(1), datetime64[ns](1), float64(5), object(22)
memory usage: 114.5+ KB
None
merged_df BEFORE> 520
index list> [66, 511, 68, 510, 94, 507, 152, 513, 183, 519, 223, 518, 343, 514, 344, 515, 361, 517, 467, 512, 489, 505, 497, 506]
merged_df count> 520
merged_df count> 496
merged_df AFTER> 496
_merge
both          483
left_only      10
right_only      3
Name: count, dtype: int64
_merge
both_    12
Name: count, dtype: int64


Total players (found) entries: 508
Total merged (found) entries: 495
Total without hits: 13

Entries without a match:
              normalized_name      _merge                     nn_x  \
49            artem_stepanov   left_only           artem_stepanov
83                 maxim_dal   left_only                maxim_dal
141              viggo_gebel   left_only              viggo_gebel
144     joyeux_masanka_bungi   left_only     joyeux_masanka_bungi
154               faik_sakar   left_only               faik_sakar
170            bennit_broger   left_only            bennit_broger
212    tiago_pereira_cardoso   left_only    tiago_pereira_cardoso
251           almugera_kabar   left_only           almugera_kabar
359      oluwaseun_ogbemudia   left_only      oluwaseun_ogbemudia
387             luca_gunther   left_only             luca_gunther
493          luca_novodomsky  right_only                      NaN
494           almugera_kabar  right_only                      NaN
495         florian_micheler  right_only                      NaN
496  eric_junior_dina_ebimbe       both_  eric_junior_dina_ebimbe
497            oscar_hojlund       both_            oscar_hojlund
498            hyunseok_hong       both_            hyunseok_hong
499                     xavi       both_                     xavi
500          mohammed_amoura       both_          mohammed_amoura
501            julian_chabot       both_            julian_chabot
502            leo_ostigaard       both_            leo_ostigaard
503          finn_ole_becker       both_          finn_ole_becker
504         erencan_yardimci       both_         erencan_yardimci
505        andu_yobel_kelati       both_        andu_yobel_kelati
506       omar_haktab_traore       both_       omar_haktab_traore
507         leonardo_scienza       both_         leonardo_scienza

                   nn_y
49                  NaN
83                  NaN
141                 NaN
144                 NaN
154                 NaN
170                 NaN
212                 NaN
251                 NaN
359                 NaN
387                 NaN
493     luca_novodomsky
494      almugera_kabar
495    florian_micheler
496  junior_dina_ebimbe
497       oscar_højlund
498      hyun-seok_hong
499         xavi_simons
500      mohamed_amoura
501         jeff_chabot
502        leo_østigard
503         finn_becker
504    erencan_yardımcı
505         andu_kelati
506         omar_traore
507         leo_scienza

In [316]:
merged_df=merge_dataframes(kicker, tf, ["normalized_name","dateOfBirth"])
report_unmachted_items(merged_df)
df_um=match_on_additional_atributes(merged_df)
print(df_um.head())
# Combine them
df_combined = pd.concat([merged_df, df_um], ignore_index=True)
df_combined.info()

# Merge all three DataFrames on first_name, last_name, and date_of_birth
triple_df = kicker.merge(tf, on=["firstName", "lastName", "dateOfBirth"], how="outer")\
               .merge(fifa, on=["firstName", "lastName", "dateOfBirth"], how="outer", indicator=True)

triple_df[["normalized_name", "dateOfBirth", "_merge"]]

# Count matches and non-matches
matched_entries = triple_df["_merge"].value_counts().get("both", 0)
unmatched_entries = triple_df["_merge"].value_counts().get("left_only", 0) + triple_df["_merge"].value_counts().get("right_only", 0)

print(f"Total merged (found) entries: {matched_entries}")
print(f"Total without hits: {unmatched_entries}")

triple_df.to_csv("D:\\DevOps\\python_work\\venv\\demoenv\\resources\\players_all.csv", encoding='utf-8', index=False)

Total merged (found) entries: 494
Total without hits: 37

Entries without a match:
              normalized_name dateOfBirth      _merge
50            artem_stepanov  2007-08-10   left_only
67   eric_junior_dina_ebimbe  2000-11-21   left_only
69             oscar_hojlund  2005-01-04   left_only
86                 maxim_dal  2006-01-26   left_only
95             hyunseok_hong  1999-06-16   left_only
148              viggo_gebel  2007-11-22   left_only
151     joyeux_masanka_bungi  2007-01-24   left_only
156                     xavi  2003-04-21   left_only
162               faik_sakar  2008-01-14   left_only
179            bennit_broger  2006-07-01   left_only
188          mohammed_amoura  2000-05-09   left_only
224    tiago_pereira_cardoso  2006-04-07   left_only
230            julian_chabot  1998-02-12   left_only
266           almugera_kabar  2006-02-06   left_only
354            leo_ostigaard  1999-11-28   left_only
355          finn_ole_becker  2000-06-08   left_only
372         erencan_yardimci  2002-02-04   left_only
379      oluwaseun_ogbemudia  2006-07-18   left_only
407             luca_gunther  2001-11-14   left_only
478        andu_yobel_kelati  2002-08-13   left_only
500       omar_haktab_traore  1998-02-04   left_only
508         leonardo_scienza  1998-09-13   left_only
516              omar_traore  1998-02-04  right_only
517              leo_scienza  1998-09-13  right_only
518           hyun-seok_hong  1999-06-16  right_only
519          luca_novodomsky  2005-04-26  right_only
520           almugera_kabar  2006-06-06  right_only
521            oscar_højlund  2005-01-04  right_only
522       junior_dina_ebimbe  2000-11-21  right_only
523              andu_kelati  2002-08-13  right_only
524              xavi_simons  2003-04-21  right_only
525             leo_østigard  1999-11-28  right_only
526              finn_becker  2000-06-08  right_only
527         florian_micheler  2005-05-17  right_only
528         erencan_yardımcı  2002-02-04  right_only
529              jeff_chabot  1998-02-12  right_only
530           mohamed_amoura  2000-05-09  right_only
[67, 522, 69, 521, 95, 518, 156, 524, 188, 530, 230, 529, 354, 525, 355, 526, 372, 528, 478, 523, 500, 516, 508, 517]
                        id_x  firstName_x   lastName_x        currentClub_x  \
509  eric-junior-dina-ebimbe  Eric Junior  Dina Ebimbe  Eintracht Frankfurt
510           oscar-hoejlund        Oscar      Höjlund  Eintracht Frankfurt
511            hyunseok-hong     Hyunseok         Hong      1. FSV Mainz 05
512              xavi-simons                      Xavi           RB Leipzig
513  mohammed-elamine-amoura     Mohammed       Amoura        VfL Wolfsburg

             dateOfBirth height_x weight  position_x                nations  \
509  2000-11-21 00:00:00    183.0   76.0  Mittelfeld  [Frankreich, Kamerun]
510  2005-01-04 00:00:00    184.0   76.0  Mittelfeld             [Dänemark]
511  1999-06-16 00:00:00    177.0   69.0  Mittelfeld             [Südkorea]
512  2003-04-21 00:00:00    179.0   70.0  Mittelfeld          [Niederlande]
513  2000-05-09 00:00:00    170.0   62.0       Sturm             [Algerien]

      age  ... placeOfBirth height_y              citizenship  \
509  25.0  ...       Stains    184.0       [France, Cameroon]
510  20.0  ...    København    187.0                [Denmark]
511  26.0  ...        Seoul    177.0           [Korea, South]
512  22.0  ...    Amsterdam    179.0  [Netherlands, Suriname]
513  25.0  ...        Tahir    170.0                [Algeria]

                        position_y   foot        currentClub_y        joined  \
509      Midfield - Right Midfield  right  Eintracht Frankfurt   Jul 1, 2023
510    Midfield - Central Midfield  right  Eintracht Frankfurt  Jul 10, 2024
511  Midfield - Attacking Midfield   left       1.FSV Mainz 05  Aug 29, 2024
512  Midfield - Attacking Midfield  right           RB Leipzig  Jan 30, 2025
513        Attack - Centre-Forward  right        VfL Wolfsburg   Jul 8, 2024

          expires                                     marketValue _merge
509  Jun 30, 2027   {'current': 9000000.0, 'highest': 14000000.0}  both_
510  Jun 30, 2029    {'current': 2000000.0, 'highest': 2000000.0}  both_
511  Jun 30, 2028    {'current': 5000000.0, 'highest': 9000000.0}  both_
512  Jun 30, 2027  {'current': 80000000.0, 'highest': 80000000.0}  both_
513  Jun 30, 2025  {'current': 22000000.0, 'highest': 22000000.0}  both_

[5 rows x 25 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519 entries, 0 to 518
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_x             516 non-null    object
 1   firstName_x      516 non-null    object
 2   lastName_x       516 non-null    object
 3   currentClub_x    516 non-null    object
 4   dateOfBirth      519 non-null    object
 5   height_x         516 non-null    object
 6   weight           516 non-null    object
 7   position_x       516 non-null    object
 8   nations          516 non-null    object
 9   age              516 non-null    object
 10  normalized_name  519 non-null    object
 11  id_y             509 non-null    object
 12  slug             509 non-null    object
 13  lastName_y       509 non-null    object
 14  firstName_y      509 non-null    object
 15  placeOfBirth     504 non-null    object
 16  height_y         507 non-null    object
 17  citizenship      509 non-null    object
 18  position_y       509 non-null    object
 19  foot             502 non-null    object
 20  currentClub_y    509 non-null    object
 21  joined           509 non-null    object
 22  expires          509 non-null    object
 23  marketValue      509 non-null    object
 24  _merge           519 non-null    object
dtypes: object(25)
memory usage: 101.5+ KB
Total merged (found) entries: 391
Total without hits: 274

In [114]:
print(merged_df["id_y"])
merged_df["id_y"]=merged_df["id_y"].apply(lambda x: str(x) if pd.notna(x) else "")

#merged_df["firstName_y"]=merged_df["firstName_y"].map(str)
print(merged_df.info())

#print(merged_df["id_y"].to_list())

0       17259
1      468539
2       40680
3      607720
4      475413
        ...
515    334999
516    808664
517    618898
518    303219
519    746910
Name: id_y, Length: 520, dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_x             520 non-null    object
 1   firstName_x      505 non-null    object
 2   lastName_x       505 non-null    object
 3   currentClub_x    505 non-null    object
 4   dateOfBirth      520 non-null    datetime64[ns]
 5   height_x         505 non-null    float64
 6   weight           505 non-null    float64
 7   position_x       505 non-null    object
 8   nations          505 non-null    object
 9   age              505 non-null    float64
 10  normalized_name  520 non-null    object
 11  nn_x             505 non-null    object
 12  source_x         505 non-null    object
 13  id_y             520 non-null    object
 14  slug             498 non-null    object
 15  lastName_y       498 non-null    object
 16  firstName_y      520 non-null    object
 17  placeOfBirth     493 non-null    object
 18  height_y         496 non-null    float64
 19  citizenship      498 non-null    object
 20  position_y       498 non-null    object
 21  foot             491 non-null    object
 22  currentClub_y    498 non-null    object
 23  joined           498 non-null    object
 24  expires          498 non-null    object
 25  marketValue      498 non-null    object
 26  nn_y             498 non-null    object
 27  source_y         498 non-null    object
 28  _merge           520 non-null    category
dtypes: category(1), datetime64[ns](1), float64(4), object(23)
memory usage: 114.5+ KB
None

In [185]:
kicker_teams=group_players_by_team(kicker[["firstName", "lastName", "currentClub"]], "currentClub")
tf_teams=group_players_by_team(tf[["first_name", "last_name", "currentClub"]], "currentClub")
fifa_teams=group_players_by_team(fifa[["firstName", "lastName", "team"]], "team")
print(kicker_teams)
print(tf_teams)
print(fifa_teams)

{'1. FC Heidenheim': {'count': 30}, '1. FC Union Berlin': {'count': 27}, '1. FSV Mainz 05': {'count': 25}, 'Bayer 04 Leverkusen': {'count': 26}, 'Bayern München': {'count': 27}, 'Bor. Mönchengladbach': {'count': 26}, 'Borussia Dortmund': {'count': 29}, 'Eintracht Frankfurt': {'count': 27}, 'FC Augsburg': {'count': 29}, 'FC St. Pauli': {'count': 36}, 'Holstein Kiel': {'count': 29}, 'RB Leipzig': {'count': 29}, 'SC Freiburg': {'count': 27}, 'TSG Hoffenheim': {'count': 32}, 'VfB Stuttgart': {'count': 33}, 'VfL Bochum': {'count': 27}, 'VfL Wolfsburg': {'count': 30}, 'Werder Bremen': {'count': 27}}
{'1.FC Heidenheim 1846': {'count': 28}, '1.FC Union Berlin': {'count': 26}, '1.FSV Mainz 05': {'count': 23}, 'Bayer 04 Leverkusen': {'count': 26}, 'Bayern Munich': {'count': 26}, 'Borussia Dortmund': {'count': 28}, 'Borussia Mönchengladbach': {'count': 25}, 'Eintracht Frankfurt': {'count': 27}, 'FC Augsburg': {'count': 27}, 'FC St. Pauli': {'count': 34}, 'Holstein Kiel': {'count': 29}, 'RB Leipzig': {'count': 25}, 'SC Freiburg': {'count': 27}, 'SV Werder Bremen': {'count': 26}, 'TSG 1899 Hoffenheim': {'count': 33}, 'VfB Stuttgart': {'count': 32}, 'VfL Bochum': {'count': 27}, 'VfL Wolfsburg': {'count': 29}}
{'1. FSV Mainz 05': {'count': 24}, 'Borussia Dortmund': {'count': 23}, 'FC Augsburg': {'count': 26}, 'FC Bayern München': {'count': 27}, 'FC St. Pauli': {'count': 28}, 'Frankfurt': {'count': 27}, 'Heidenheim': {'count': 29}, 'Holstein Kiel': {'count': 26}, 'Leverkusen': {'count': 24}, "M'gladbach": {'count': 25}, 'RB Leipzig': {'count': 24}, 'SC Freiburg': {'count': 28}, 'SV Werder Bremen': {'count': 27}, 'TSG Hoffenheim': {'count': 30}, 'Union Berlin': {'count': 25}, 'VfB Stuttgart': {'count': 30}, 'VfL Bochum 1848': {'count': 30}, 'VfL Wolfsburg': {'count': 30}}

In [334]:
il = [1,5,8]
m=df_um.tail()
m.to_csv("D:\\DevOps\\python_work\\venv\\demoenv\\resources\\merged_df.csv", encoding='utf-8', index=False)

In [329]:
df_ktf=df_combined[["normalized_name","dateOfBirth"]]
# transform to date type 
df_ktf = transform_to_datetime(df_ktf, "dateOfBirth")

merged_df_ktf=merge_dataframes(df_ktf, fifa, ["normalized_name","dateOfBirth"])
report_unmachted_items(merged_df_ktf)
merged_df_ktf.info()
#df_um_ktff=match_on_additional_atributes(merged_df_ktf)

Total merged (found) entries: 419
Total without hits: 174

Entries without a match:
                    normalized_name dateOfBirth      _merge
3                      jonas_urbig  2003-08-08   left_only
10                     min-jae_kim  1996-11-15   left_only
16                   joao_palhinha  1995-07-09   left_only
30                          arthur  2003-03-17   left_only
33              alejandro_grimaldo  1995-09-20   left_only
..                             ...         ...         ...
588                   ayman_aourir  2004-10-06  right_only
589                    andu_kelati  2002-08-13  right_only
590  kaua_morais_vieira_dos_santos  2003-04-11  right_only
591                  mats_pannewig  2004-08-28  right_only
592                   yannic_stein  2004-09-17  right_only

[174 rows x 3 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 593 entries, 0 to 592
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   normalized_name  593 non-null    object
 1   dateOfBirth      593 non-null    datetime64[ns]
 2   id               493 non-null    float64
 3   rank             493 non-null    float64
 4   overallRating    493 non-null    float64
 5   firstName        493 non-null    object
 6   lastName         493 non-null    object
 7   height           493 non-null    float64
 8   preferredFoot    493 non-null    float64
 9   leagueName       493 non-null    object
 10  weight           493 non-null    float64
 11  nationality      493 non-null    object
 12  team             493 non-null    object
 13  position         493 non-null    object
 14  stats            493 non-null    object
 15  _merge           593 non-null    category
dtypes: category(1), datetime64[ns](1), float64(6), object(8)
memory usage: 70.3+ KB

C:\Users\Der David\AppData\Local\Temp\ipykernel_39896\1337660496.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[key] = pd.to_datetime(data[key], errors="coerce")

In [420]:
print(kicker[["normalized_name", "firstName", "lastName", "dateOfBirth"]].head(10))
print(tf[["normalized_name", "firstName", "lastName", "dateOfBirth"]].head(10))
print(fifa[["normalized_name", "firstName", "lastName", "dateOfBirth"]].head(10))

names=set(kicker["normalized_name"]) & set(tf["normalized_name"]) & set(fifa["normalized_name"])
pd.DataFrame({"normalized_name": list(names)})

k=kicker[["normalized_name", "firstName", "lastName", "dateOfBirth"]]
t=tf[["normalized_name", "firstName", "lastName", "dateOfBirth"]]
f=fifa[["normalized_name", "firstName", "lastName", "dateOfBirth"]]

k.to_csv("D:\\DevOps\\python_work\\venv\\demoenv\\resources\\k.csv", encoding='utf-8', index=False)
t.to_csv("D:\\DevOps\\python_work\\venv\\demoenv\\resources\\t.csv", encoding='utf-8', index=False)
f.to_csv("D:\\DevOps\\python_work\\venv\\demoenv\\resources\\f.csv", encoding='utf-8', index=False)

     normalized_name firstName   lastName dateOfBirth
0       manuel_neuer    Manuel      Neuer  1986-03-27
1      daniel_peretz    Daniel     Peretz  2000-07-10
2       sven_ulreich      Sven    Ulreich  1988-08-03
3        jonas_urbig     Jonas      Urbig  2003-08-08
4         sacha_boey     Sacha       Boey  2000-09-13
5     tarek_buchmann     Tarek   Buchmann  2005-02-28
6    alphonso_davies  Alphonso     Davies  2000-11-02
7          eric_dier      Eric       Dier  1994-01-15
8  raphael_guerreiro   Raphael  Guerreiro  1993-12-22
9         hiroki_ito    Hiroki        Ito  1999-05-12
    normalized_name firstName    lastName dateOfBirth
0      kevin_muller     Kevin      Müller  1991-03-15
1      frank_feller     Frank      Feller  2004-01-07
2      vitus_eicher     Vitus      Eicher  1990-11-05
3   paul_tschernuth      Paul  Tschernuth  2002-01-20
4   benedikt_gimber  Benedikt      Gimber  1997-02-19
5    patrick_mainka   Patrick      Mainka  1994-11-06
6    tim_siersleben       Tim  Siersleben  2000-03-09
7     thomas_keller    Thomas      Keller  1999-08-05
8  jonas_fohrenbach     Jonas  Föhrenbach  1996-01-26
9     frans_kratzig     Frans     Krätzig  2003-01-14
             normalized_name  firstName         lastName dateOfBirth
0                 harry_kane      Harry             Kane  1993-07-28
1              florian_wirtz    Florian            Wirtz  2003-05-03
2               gregor_kobel     Gregor            Kobel  1997-12-06
3              jamal_musiala      Jamal          Musiala  2003-02-26
4               granit_xhaka     Granit            Xhaka  1992-09-27
5  alejandro_grimaldo_garcia  Alejandro  Grimaldo García  1995-09-20
6               jonathan_tah   Jonathan              Tah  1996-02-11
7             joshua_kimmich     Joshua          Kimmich  1995-02-08
8               manuel_neuer     Manuel            Neuer  1986-03-27
9              julian_brandt     Julian           Brandt  1996-05-02

In [406]:
import pandas as pd
import re

def normalize_name(name):
    if not name:
        return ""
    # Convert to lowercase
    name = name.lower()
    # Replace special characters with ASCII equivalent
    name = ''.join(c if not unicodedata.combining(c) else '' for c in unicodedata.normalize('NFKD', name))
    # Remove non-alphanumeric characters (except spaces)
    name = re.sub(r'[^a-z0-9 ]', '', name)
    # Merge spaces and strip
    return "_".join(name.split())

print(normalize_name("Raphaël Guerreiro"))
print(normalize_name("Oscar Højlund"))
print(normalize_name("Adam Dźwigałła"))
print(normalize_name("Adam Moussâ"))


''.join(c if not unicodedata.combining(c) else '' for c in unicodedata.normalize('NFKD', "Højlund"))

raphael_guerreiro
oscar_hjlund
adam_dzwigaa
adam_moussa

'Højlund'

In [443]:
import pandas as pd

# Sample DataFrame
data1 = {
    "firstName": ["Florian", "Harry", "Jeremie"],
    "lastName": ["Wirtz", "Kane", "Frimpong"],
    "team": ["Leverkusen", "Bayern Munich", "Leverkusen"],
    "normalized_name": ["florian_wirtz", "harry_kane", "jeremie_frimpong"]
}
data2 = {
    "firstName": ["Florian", "Harry", "Jeremie"],
    "lastName": ["Wirtz", "Kane", "Frimpong"],
    "team": ["Leverkusen", "Bayern Munich", "Leverkusen"],
    "normalized_name": ["florian_wirtz", "harry_kane", "jeremie_frimpong"]
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

merged_df = pd.merge(df1, df2, how='left', left_on="lastName", right_on="lastName", indicator=True)
merged_df

,firstName_x,lastName,team_x,normalized_name_x,firstName_y,team_y,normalized_name_y,_merge
0,Florian,Wirtz,Leverkusen,florian_wirtz,Florian,Leverkusen,florian_wirtz,both
1,Harry,Kane,Bayern Munich,harry_kane,Harry,Bayern Munich,harry_kane,both
2,Jeremie,Frimpong,Leverkusen,jeremie_frimpong,Jeremie,Leverkusen,jeremie_frimpong,both

In [467]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 508 entries, 0 to 507
Data columns (total 27 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_x             505 non-null    object
 1   firstName_x      505 non-null    object
 2   lastName_x       505 non-null    object
 3   currentClub_x    505 non-null    object
 4   dateOfBirth      508 non-null    object
 5   height_x         505 non-null    object
 6   weight           505 non-null    object
 7   position_x       505 non-null    object
 8   nations          505 non-null    object
 9   age              505 non-null    object
 10  normalized_name  508 non-null    object
 11  nn_x             505 non-null    object
 12  id_y             498 non-null    object
 13  slug             498 non-null    object
 14  lastName_y       498 non-null    object
 15  firstName_y      498 non-null    object
 16  placeOfBirth     493 non-null    object
 17  height_y         496 non-null    object
 18  citizenship      498 non-null    object
 19  position_y       498 non-null    object
 20  foot             491 non-null    object
 21  currentClub_y    498 non-null    object
 22  joined           498 non-null    object
 23  expires          498 non-null    object
 24  marketValue      498 non-null    object
 25  nn_y             498 non-null    object
 26  _merge           508 non-null    object
dtypes: object(27)
memory usage: 107.3+ KB

In [478]:
df_combined=df_combined.rename(columns={"firstName_x":"firstName", "lastName_x":"lastName", "_merge":"_oldmerge"})
# transform to date type 
df_combined = transform_to_datetime(df_combined, "dateOfBirth")

fully_merged_df=merge_dataframes(df_combined, fifa, ["normalized_name","dateOfBirth"])
report_unmachted_items(fully_merged_df)
print(fully_merged_df.info())

fully_merged_df.to_csv("D:\\DevOps\\python_work\\venv\\demoenv\\resources\\fully_merged_df.csv", encoding='utf-8', index=False)

fully_merged.drop_duplicates(subset=["normalized_name", "dateOfBirth"])
fully_merged=fully_merged_df.reset_index()
df_um_fully=match_on_additional_atributes(fully_merged_df)
print(fully_merged_df["_merge"].value_counts())
print(df_um_fully["_merge"].value_counts())
df_combined_fully = pd.concat([fully_merged_df, df_um_fully], ignore_index=True)

Total merged (found) entries: 409
Total without hits: 173

Entries without a match:
                    normalized_name      _merge                nn_x  \
3                      jonas_urbig   left_only         jonas_urbig
10                     min-jae_kim   left_only         min-jae_kim
16                   joao_palhinha   left_only       joao_palhinha
29                          arthur   left_only              arthur
32              alejandro_grimaldo   left_only  alejandro_grimaldo
..                             ...         ...                 ...
577                   ayman_aourir  right_only                 NaN
578                    andu_kelati  right_only                 NaN
579  kaua_morais_vieira_dos_santos  right_only                 NaN
580                  mats_pannewig  right_only                 NaN
581                   yannic_stein  right_only                 NaN

                   nn_y
3           jonas_urbig
10          min-jae_kim
16        joao_palhinha
29               arthur
32   alejandro_grimaldo
..                  ...
577                 NaN
578                 NaN
579                 NaN
580                 NaN
581                 NaN

[173 rows x 4 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 582 entries, 0 to 581
Data columns (total 41 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_x             505 non-null    object
 1   firstName_x      505 non-null    object
 2   lastName_x       505 non-null    object
 3   currentClub_x    505 non-null    object
 4   dateOfBirth      582 non-null    datetime64[ns]
 5   height_x         505 non-null    object
 6   weight_x         505 non-null    object
 7   position_x       505 non-null    object
 8   nations          505 non-null    object
 9   age              505 non-null    object
 10  normalized_name  582 non-null    object
 11  nn_x             505 non-null    object
 12  id_y             498 non-null    object
 13  slug             498 non-null    object
 14  lastName_y       498 non-null    object
 15  firstName_y      498 non-null    object
 16  placeOfBirth     493 non-null    object
 17  height_y         496 non-null    object
 18  citizenship      498 non-null    object
 19  position_y       498 non-null    object
 20  foot             491 non-null    object
 21  currentClub_y    498 non-null    object
 22  joined           498 non-null    object
 23  expires          498 non-null    object
 24  marketValue      498 non-null    object
 25  nn_y             498 non-null    object
 26  _oldmerge        508 non-null    object
 27  id               483 non-null    float64
 28  rank             483 non-null    float64
 29  overallRating    483 non-null    float64
 30  firstName_y      483 non-null    object
 31  lastName_y       483 non-null    object
 32  height           483 non-null    float64
 33  preferredFoot    483 non-null    float64
 34  leagueName       483 non-null    object
 35  weight_y         483 non-null    float64
 36  nationality      483 non-null    object
 37  team             483 non-null    object
 38  position         483 non-null    object
 39  stats            483 non-null    object
 40  _merge           582 non-null    category
dtypes: category(1), datetime64[ns](1), float64(6), object(33)
memory usage: 182.7+ KB
None

ValueError: cannot reindex on an axis with duplicate labels

In [557]:
name_mapping = {
    "id_x":"id",
    "firstName_x":"firstName",
    "lastName_x":"lastName",
    "currentClub_x":"currentClub",
    "_merge": "_1stmerge",
    "firstName_y":"firstName_yy",
    "lastName_y":"lastName_yy",
    "id_y":"id_yy",
    "height_y":"height_yy",
}

merged_df=merged_df.rename(columns=name_mapping)
#merged_df.info()

fully_merged_df=merge_dataframes(merged_df, fifa, ["normalized_name","dateOfBirth"])
report_unmachted_items(fully_merged_df)
print(fully_merged_df.info())

fully_merged_df.to_csv("D:\\DevOps\\python_work\\venv\\demoenv\\resources\\fully_merged_df.csv", encoding='utf-8', index=False)
#fully_merged_df=merged_df.rename(columns=name_mapping)
fully_merged_df.info()

Total merged (found) entries: 405
Total without hits: 169

Entries without a match:
                    normalized_name      _merge                nn_x  \
3                      jonas_urbig   left_only         jonas_urbig
10                     min-jae_kim   left_only         min-jae_kim
16                   joao_palhinha   left_only       joao_palhinha
29                          arthur   left_only              arthur
32              alejandro_grimaldo   left_only  alejandro_grimaldo
..                             ...         ...                 ...
569                   ayman_aourir  right_only                 NaN
570                    andu_kelati  right_only                 NaN
571  kaua_morais_vieira_dos_santos  right_only                 NaN
572                  mats_pannewig  right_only                 NaN
573                   yannic_stein  right_only                 NaN

                   nn_y
3           jonas_urbig
10          min-jae_kim
16        joao_palhinha
29               arthur
32   alejandro_grimaldo
..                  ...
569                 NaN
570                 NaN
571                 NaN
572                 NaN
573                 NaN

[169 rows x 4 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574 entries, 0 to 573
Data columns (total 45 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_x             493 non-null    object
 1   firstName_x      493 non-null    object
 2   lastName_x       493 non-null    object
 3   currentClub      493 non-null    object
 4   dateOfBirth      574 non-null    datetime64[ns]
 5   height_x         493 non-null    float64
 6   weight_x         493 non-null    float64
 7   position_x       493 non-null    object
 8   nations          493 non-null    object
 9   age              493 non-null    float64
 10  normalized_name  574 non-null    object
 11  nn_x             493 non-null    object
 12  source_x         493 non-null    object
 13  id_yy            486 non-null    float64
 14  slug             486 non-null    object
 15  lastName_yy      486 non-null    object
 16  firstName_yy     486 non-null    object
 17  placeOfBirth     481 non-null    object
 18  height_yy        484 non-null    float64
 19  citizenship      486 non-null    object
 20  position_y       486 non-null    object
 21  foot             479 non-null    object
 22  currentClub_y    486 non-null    object
 23  joined           486 non-null    object
 24  expires          486 non-null    object
 25  marketValue      486 non-null    object
 26  nn_y             486 non-null    object
 27  source_y         486 non-null    object
 28  _1stmerge        496 non-null    category
 29  id_y             483 non-null    float64
 30  rank             483 non-null    float64
 31  overallRating    483 non-null    float64
 32  firstName_y      483 non-null    object
 33  lastName_y       483 non-null    object
 34  height           483 non-null    float64
 35  preferredFoot    483 non-null    float64
 36  leagueName       483 non-null    object
 37  weight_y         483 non-null    float64
 38  nationality      483 non-null    object
 39  team             483 non-null    object
 40  position         483 non-null    object
 41  stats            483 non-null    object
 42  nn               483 non-null    object
 43  source           483 non-null    object
 44  _merge           574 non-null    category
dtypes: category(2), datetime64[ns](1), float64(11), object(31)
memory usage: 194.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574 entries, 0 to 573
Data columns (total 45 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_x             493 non-null    object
 1   firstName_x      493 non-null    object
 2   lastName_x       493 non-null    object
 3   currentClub      493 non-null    object
 4   dateOfBirth      574 non-null    datetime64[ns]
 5   height_x         493 non-null    float64
 6   weight_x         493 non-null    float64
 7   position_x       493 non-null    object
 8   nations          493 non-null    object
 9   age              493 non-null    float64
 10  normalized_name  574 non-null    object
 11  nn_x             493 non-null    object
 12  source_x         493 non-null    object
 13  id_yy            486 non-null    float64
 14  slug             486 non-null    object
 15  lastName_yy      486 non-null    object
 16  firstName_yy     486 non-null    object
 17  placeOfBirth     481 non-null    object
 18  height_yy        484 non-null    float64
 19  citizenship      486 non-null    object
 20  position_y       486 non-null    object
 21  foot             479 non-null    object
 22  currentClub_y    486 non-null    object
 23  joined           486 non-null    object
 24  expires          486 non-null    object
 25  marketValue      486 non-null    object
 26  nn_y             486 non-null    object
 27  source_y         486 non-null    object
 28  _1stmerge        496 non-null    category
 29  id_y             483 non-null    float64
 30  rank             483 non-null    float64
 31  overallRating    483 non-null    float64
 32  firstName_y      483 non-null    object
 33  lastName_y       483 non-null    object
 34  height           483 non-null    float64
 35  preferredFoot    483 non-null    float64
 36  leagueName       483 non-null    object
 37  weight_y         483 non-null    float64
 38  nationality      483 non-null    object
 39  team             483 non-null    object
 40  position         483 non-null    object
 41  stats            483 non-null    object
 42  nn               483 non-null    object
 43  source           483 non-null    object
 44  _merge           574 non-null    category
dtypes: category(2), datetime64[ns](1), float64(11), object(31)
memory usage: 194.3+ KB

In [560]:

um = fully_merged_df[(fully_merged_df["_merge"] == "left_only") | (fully_merged_df["_merge"] == "right_only")]
um.info()

df_um_triple=match_on_additional_atributes(fully_merged_df)
print(fully_merged_df["_merge"].value_counts())
print(df_um_triple["_merge"].value_counts())
df_um_triple.info()
# unmatched_df1 = merged_df[merged_df["_merge"] == "left_only"]
# unmatched_df2 = merged_df[merged_df["_merge"] == "right_only"]

<class 'pandas.core.frame.DataFrame'>
Index: 122 entries, 3 to 573
Data columns (total 45 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_x             65 non-null     object
 1   firstName_x      65 non-null     object
 2   lastName_x       65 non-null     object
 3   currentClub      65 non-null     object
 4   dateOfBirth      122 non-null    datetime64[ns]
 5   height_x         65 non-null     float64
 6   weight_x         65 non-null     float64
 7   position_x       65 non-null     object
 8   nations          65 non-null     object
 9   age              65 non-null     float64
 10  normalized_name  122 non-null    object
 11  nn_x             65 non-null     object
 12  source_x         65 non-null     object
 13  id_yy            60 non-null     float64
 14  slug             60 non-null     object
 15  lastName_yy      60 non-null     object
 16  firstName_yy     60 non-null     object
 17  placeOfBirth     55 non-null     object
 18  height_yy        58 non-null     float64
 19  citizenship      60 non-null     object
 20  position_y       60 non-null     object
 21  foot             57 non-null     object
 22  currentClub_y    60 non-null     object
 23  joined           60 non-null     object
 24  expires          60 non-null     object
 25  marketValue      60 non-null     object
 26  nn_y             60 non-null     object
 27  source_y         60 non-null     object
 28  _1stmerge        68 non-null     category
 29  id_y             54 non-null     float64
 30  rank             54 non-null     float64
 31  overallRating    54 non-null     float64
 32  firstName_y      54 non-null     object
 33  lastName_y       54 non-null     object
 34  height           54 non-null     float64
 35  preferredFoot    54 non-null     float64
 36  leagueName       54 non-null     object
 37  weight_y         54 non-null     float64
 38  nationality      54 non-null     object
 39  team             54 non-null     object
 40  position         54 non-null     object
 41  stats            54 non-null     object
 42  nn               54 non-null     object
 43  source           54 non-null     object
 44  _merge           122 non-null    category
dtypes: category(2), datetime64[ns](1), float64(11), object(31)
memory usage: 42.4+ KB
[]
_merge
both          405
left_only      68
right_only     54
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 45 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_x             0 non-null      object
 1   firstName_x      0 non-null      object
 2   lastName_x       0 non-null      object
 3   currentClub      0 non-null      object
 4   dateOfBirth      0 non-null      object
 5   height_x         0 non-null      object
 6   weight_x         0 non-null      object
 7   position_x       0 non-null      object
 8   nations          0 non-null      object
 9   age              0 non-null      object
 10  normalized_name  0 non-null      object
 11  nn_x             0 non-null      object
 12  source_x         0 non-null      object
 13  id_yy            0 non-null      object
 14  slug             0 non-null      object
 15  lastName_yy      0 non-null      object
 16  firstName_yy     0 non-null      object
 17  placeOfBirth     0 non-null      object
 18  height_yy        0 non-null      object
 19  citizenship      0 non-null      object
 20  position_y       0 non-null      object
 21  foot             0 non-null      object
 22  currentClub_y    0 non-null      object
 23  joined           0 non-null      object
 24  expires          0 non-null      object
 25  marketValue      0 non-null      object
 26  nn_y             0 non-null      object
 27  source_y         0 non-null      object
 28  _1stmerge        0 non-null      object
 29  id_y             0 non-null      object
 30  rank             0 non-null      object
 31  overallRating    0 non-null      object
 32  firstName_y      0 non-null      object
 33  lastName_y       0 non-null      object
 34  height           0 non-null      object
 35  preferredFoot    0 non-null      object
 36  leagueName       0 non-null      object
 37  weight_y         0 non-null      object
 38  nationality      0 non-null      object
 39  team             0 non-null      object
 40  position         0 non-null      object
 41  stats            0 non-null      object
 42  nn               0 non-null      object
 43  source           0 non-null      object
 44  _merge           0 non-null      object
dtypes: object(45)
memory usage: 132.0+ bytes

In [564]:
df_triple_combined = pd.concat([fully_merged_df, df_um_triple], ignore_index=True)

# Count matches and non-matches
matched_entries = df_triple_combined["_merge"].value_counts().get("both", 0) + df_triple_combined["_merge"].value_counts().get("both_", 0) 
unmatched_entries = df_triple_combined["_merge"].value_counts().get("left_only", 0) + df_triple_combined["_merge"].value_counts().get("right_only", 0)

print("\n")
print(f"Total players (found) entries: {len(df_triple_combined)}")
print(f"Total merged (found) entries: {matched_entries}")
print(f"Total without hits: {unmatched_entries}")
report_unmachted_items(df_triple_combined)

df_triple_combined.to_csv("D:\\DevOps\\python_work\\venv\\demoenv\\resources\\df_triple_combined.csv", encoding='utf-8', index=False)
merged_df.to_csv("D:\\DevOps\\python_work\\venv\\demoenv\\resources\\merged_df.csv", encoding='utf-8', index=False)

Total players (found) entries: 527
Total merged (found) entries: 405
Total without hits: 122

Entries without a match:
                    normalized_name      _merge              nn_x  \
3                      jonas_urbig   left_only       jonas_urbig
27                          arthur   left_only            arthur
30                   mario_hermoso   left_only     mario_hermoso
36                emiliano_buendia   left_only  emiliano_buendia
43                     alejo_sarco   left_only       alejo_sarco
..                             ...         ...               ...
522                   ayman_aourir  right_only               NaN
523                    andu_kelati  right_only               NaN
524  kaua_morais_vieira_dos_santos  right_only               NaN
525                  mats_pannewig  right_only               NaN
526                   yannic_stein  right_only               NaN

                 nn_y
3         jonas_urbig
27             arthur
30      mario_hermoso
36   emiliano_buendia
43        alejo_sarco
..                ...
522               NaN
523               NaN
524               NaN
525               NaN
526               NaN

[122 rows x 4 columns]

C:\Users\Der David\AppData\Local\Temp\ipykernel_39896\4254397674.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_triple_combined = pd.concat([fully_merged_df, df_um_triple], ignore_index=True)
C:\Users\Der David\AppData\Local\Temp\ipykernel_39896\4254397674.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_triple_combined = pd.concat([fully_merged_df, df_um_triple], ignore_index=True)
C:\Users\Der David\AppData\Local\Temp\ipykernel_39896\4254397674.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_triple_combined = pd.concat([fully_merged_df, df_um_triple], ignore_index=True)

In [588]:

merged_df=merge_dataframes(kicker, tf, ["normalized_name","dateOfBirth"])
merged_df.to_csv("D:\\DevOps\\python_work\\venv\\demoenv\\resources\\merged_df.csv", encoding='utf-8', index=False)
df_um=match_on_additional_atributes(merged_df)
df_um.to_csv("D:\\DevOps\\python_work\\venv\\demoenv\\resources\\df_um.csv", encoding='utf-8', index=False)

df_combined = pd.concat([merged_df, df_um], ignore_index=True)
df_combined.to_csv("D:\\DevOps\\python_work\\venv\\demoenv\\resources\\df_combined.csv", encoding='utf-8', index=False)

name_mapping = {
    "id_x":"id",
    "firstName_x":"firstName",
    "lastName_x":"lastName",
    "currentClub_x":"currentClub",
    "_merge": "_1stmerge",
    "firstName_y":"firstName_yy",
    "lastName_y":"lastName_yy",
    "id_y":"id_yy",
    "height_y":"height_yy",
}

df_combined=df_combined.rename(columns=name_mapping)
df_combined = transform_to_datetime(df_combined, "dateOfBirth")
df_combined.info()

fully_merged_df=merge_dataframes(df_combined, fifa, ["normalized_name","dateOfBirth"])
report_unmachted_items(fully_merged_df)
print(fully_merged_df.info())

fully_merged_df.to_csv("D:\\DevOps\\python_work\\venv\\demoenv\\resources\\fully_merged_df.csv", encoding='utf-8', index=False)
#fully_merged_df=merged_df.rename(columns=name_mapping)
fully_merged_df.info()

df_um_triple=match_on_additional_atributes(fully_merged_df)
print(fully_merged_df["_merge"].value_counts())
print(df_um_triple["_merge"].value_counts())
df_um_triple.info()

df_um_triple

df_triple_combined = pd.concat([fully_merged_df, df_um_triple], ignore_index=True)

df_triple_combined.to_csv("D:\\DevOps\\python_work\\venv\\demoenv\\resources\\df_triple_combined.csv", encoding='utf-8', index=False)

Total merged (found) entries: 483
Total without hits: 37
index list> [66, 511, 68, 510, 94, 507, 152, 513, 183, 519, 223, 518, 343, 514, 344, 515, 361, 517, 467, 512, 489, 505, 497, 506]
merged_df count> 520
merged_df count> 496
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 508 entries, 0 to 507
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               505 non-null    object
 1   firstName        505 non-null    object
 2   lastName         505 non-null    object
 3   currentClub      505 non-null    object
 4   dateOfBirth      508 non-null    datetime64[ns]
 5   height_x         505 non-null    object
 6   weight           505 non-null    object
 7   position_x       505 non-null    object
 8   nations          505 non-null    object
 9   age              505 non-null    object
 10  normalized_name  508 non-null    object
 11  nn_x             505 non-null    object
 12  source_x         505 non-null    object
 13  id_yy            498 non-null    object
 14  slug             498 non-null    object
 15  lastName_yy      498 non-null    object
 16  firstName_yy     498 non-null    object
 17  placeOfBirth     493 non-null    object
 18  height_yy        496 non-null    object
 19  citizenship      498 non-null    object
 20  position_y       498 non-null    object
 21  foot             491 non-null    object
 22  currentClub_y    498 non-null    object
 23  joined           498 non-null    object
 24  expires          498 non-null    object
 25  marketValue      498 non-null    object
 26  nn_y             498 non-null    object
 27  source_y         498 non-null    object
 28  _1stmerge        508 non-null    object
dtypes: datetime64[ns](1), object(28)
memory usage: 115.2+ KB
Total merged (found) entries: 410
Total without hits: 171

Entries without a match:
                    normalized_name      _merge                nn_x  \
3                      jonas_urbig   left_only         jonas_urbig
10                     min-jae_kim   left_only         min-jae_kim
16                   joao_palhinha   left_only       joao_palhinha
29                          arthur   left_only              arthur
32              alejandro_grimaldo   left_only  alejandro_grimaldo
..                             ...         ...                 ...
576             arijon_ibrahimovic  right_only                 NaN
577                   ayman_aourir  right_only                 NaN
578                    andu_kelati  right_only                 NaN
579  kaua_morais_vieira_dos_santos  right_only                 NaN
580                   yannic_stein  right_only                 NaN

                   nn_y
3           jonas_urbig
10          min-jae_kim
16        joao_palhinha
29               arthur
32   alejandro_grimaldo
..                  ...
576                 NaN
577                 NaN
578                 NaN
579                 NaN
580                 NaN

[171 rows x 4 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581 entries, 0 to 580
Data columns (total 45 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_x             505 non-null    object
 1   firstName_x      505 non-null    object
 2   lastName_x       505 non-null    object
 3   currentClub      505 non-null    object
 4   dateOfBirth      581 non-null    datetime64[ns]
 5   height_x         505 non-null    object
 6   weight_x         505 non-null    object
 7   position_x       505 non-null    object
 8   nations          505 non-null    object
 9   age              505 non-null    object
 10  normalized_name  581 non-null    object
 11  nn_x             505 non-null    object
 12  source_x         505 non-null    object
 13  id_yy            498 non-null    object
 14  slug             498 non-null    object
 15  lastName_yy      498 non-null    object
 16  firstName_yy     498 non-null    object
 17  placeOfBirth     493 non-null    object
 18  height_yy        496 non-null    object
 19  citizenship      498 non-null    object
 20  position_y       498 non-null    object
 21  foot             491 non-null    object
 22  currentClub_y    498 non-null    object
 23  joined           498 non-null    object
 24  expires          498 non-null    object
 25  marketValue      498 non-null    object
 26  nn_y             498 non-null    object
 27  source_y         498 non-null    object
 28  _1stmerge        508 non-null    object
 29  id_y             483 non-null    float64
 30  rank             483 non-null    float64
 31  overallRating    483 non-null    float64
 32  firstName_y      483 non-null    object
 33  lastName_y       483 non-null    object
 34  height           483 non-null    float64
 35  preferredFoot    483 non-null    float64
 36  leagueName       483 non-null    object
 37  weight_y         483 non-null    float64
 38  nationality      483 non-null    object
 39  team             483 non-null    object
 40  position         483 non-null    object
 41  stats            483 non-null    object
 42  nn               483 non-null    object
 43  source           483 non-null    object
 44  _merge           581 non-null    category
dtypes: category(1), datetime64[ns](1), float64(6), object(37)
memory usage: 200.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581 entries, 0 to 580
Data columns (total 45 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_x             505 non-null    object
 1   firstName_x      505 non-null    object
 2   lastName_x       505 non-null    object
 3   currentClub      505 non-null    object
 4   dateOfBirth      581 non-null    datetime64[ns]
 5   height_x         505 non-null    object
 6   weight_x         505 non-null    object
 7   position_x       505 non-null    object
 8   nations          505 non-null    object
 9   age              505 non-null    object
 10  normalized_name  581 non-null    object
 11  nn_x             505 non-null    object
 12  source_x         505 non-null    object
 13  id_yy            498 non-null    object
 14  slug             498 non-null    object
 15  lastName_yy      498 non-null    object
 16  firstName_yy     498 non-null    object
 17  placeOfBirth     493 non-null    object
 18  height_yy        496 non-null    object
 19  citizenship      498 non-null    object
 20  position_y       498 non-null    object
 21  foot             491 non-null    object
 22  currentClub_y    498 non-null    object
 23  joined           498 non-null    object
 24  expires          498 non-null    object
 25  marketValue      498 non-null    object
 26  nn_y             498 non-null    object
 27  source_y         498 non-null    object
 28  _1stmerge        508 non-null    object
 29  id_y             483 non-null    float64
 30  rank             483 non-null    float64
 31  overallRating    483 non-null    float64
 32  firstName_y      483 non-null    object
 33  lastName_y       483 non-null    object
 34  height           483 non-null    float64
 35  preferredFoot    483 non-null    float64
 36  leagueName       483 non-null    object
 37  weight_y         483 non-null    float64
 38  nationality      483 non-null    object
 39  team             483 non-null    object
 40  position         483 non-null    object
 41  stats            483 non-null    object
 42  nn               483 non-null    object
 43  source           483 non-null    object
 44  _merge           581 non-null    category
dtypes: category(1), datetime64[ns](1), float64(6), object(37)
memory usage: 200.5+ KB
index list> [10, 511, 16, 509, 32, 508, 38, 510, 57, 549, 63, 525, 92, 523, 155, 515, 164, 519, 167, 535, 180, 568, 183, 538, 217, 542, 257, 514, 257, 567, 269, 527, 276, 545, 354, 518, 356, 554, 367, 546, 386, 562, 404, 541, 417, 528, 464, 560, 496, 522, 497, 572, 498, 529, 499, 513, 500, 526, 505, 578]
merged_df count> 581
merged_df count> 522
_merge
both          410
left_only      69
right_only     43
Name: count, dtype: int64
_merge
both_    30
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, 506 to 535
Data columns (total 45 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_x             30 non-null     object
 1   firstName_x      30 non-null     object
 2   lastName_x       30 non-null     object
 3   currentClub      30 non-null     object
 4   dateOfBirth      30 non-null     object
 5   height_x         30 non-null     object
 6   weight_x         30 non-null     object
 7   position_x       30 non-null     object
 8   nations          30 non-null     object
 9   age              30 non-null     object
 10  normalized_name  30 non-null     object
 11  nn_x             30 non-null     object
 12  source_x         30 non-null     object
 13  id_yy            30 non-null     object
 14  slug             30 non-null     object
 15  lastName_yy      30 non-null     object
 16  firstName_yy     30 non-null     object
 17  placeOfBirth     30 non-null     object
 18  height_yy        30 non-null     object
 19  citizenship      30 non-null     object
 20  position_y       30 non-null     object
 21  foot             30 non-null     object
 22  currentClub_y    30 non-null     object
 23  joined           30 non-null     object
 24  expires          30 non-null     object
 25  marketValue      30 non-null     object
 26  nn_y             30 non-null     object
 27  source_y         30 non-null     object
 28  _1stmerge        30 non-null     object
 29  id_y             30 non-null     object
 30  rank             30 non-null     object
 31  overallRating    30 non-null     object
 32  firstName_y      30 non-null     object
 33  lastName_y       30 non-null     object
 34  height           30 non-null     object
 35  preferredFoot    30 non-null     object
 36  leagueName       30 non-null     object
 37  weight_y         30 non-null     object
 38  nationality      30 non-null     object
 39  team             30 non-null     object
 40  position         30 non-null     object
 41  stats            30 non-null     object
 42  nn               30 non-null     object
 43  source           30 non-null     object
 44  _merge           30 non-null     object
dtypes: object(45)
memory usage: 10.8+ KB

In [596]:
club_counts = kicker2["currentClub"].value_counts()
print(club_counts)

currentClub
FC St. Pauli            36
VfB Stuttgart           33
TSG Hoffenheim          32
1. FC Heidenheim        30
VfL Wolfsburg           30
RB Leipzig              29
Holstein Kiel           29
Borussia Dortmund       29
FC Augsburg             29
VfL Bochum              27
1. FC Union Berlin      27
Werder Bremen           27
Bayern München          27
SC Freiburg             27
Eintracht Frankfurt     27
Bor. Mönchengladbach    26
Bayer 04 Leverkusen     26
1. FSV Mainz 05         25
TSG Hoffenheim II        3
1. FC Kaiserslautern     3
Real Valladolid          2
RB Salzburg              2
Borussia Dortmund II     2
FC St. Gallen            1
Stade Reims              1
Debreceni VSC            1
Tottenham Hotspur        1
Galatasaray SK           1
Fortuna Düsseldorf       1
FC Lausanne-Sport        1
Lazio Rom                1
Plymouth Argyle          1
AEL Limassol             1
AC Florenz               1
FC Sevilla               1
1. FC Nürnberg           1
Royal Antwerp FC         1
Al-Nassr                 1
Celtic Glasgow           1
Aston Villa              1
VfB Stuttgart II         1
Stade Rennes             1
Manchester City          1
FC Schalke 04            1
FC Turin                 1
Karlsruher SC            1
Name: count, dtype: int64

In [606]:
        df1 = pd.DataFrame({
            "firstName": ["Florian", "Harry", "Jeremie"],
            "lastName": ["Wirtz", "Kane", "Frimpong"],
            "team": ["Leverkusen", "Bayern Munich", "Leverkusen"],
            "normalized_name": ["florian_wirtz", "harry_kane", "jeremie_frimpong"]
        })
        df2 = pd.DataFrame({
            "lastName": ["Wirtz", "Kane", "Müller", "Frimpong"],
            "age": [22, 31, 33, 27],
            "team": ["Leverkusen", "Bayern Munich", "Bayern Munich", "Leverkusen"],
            "normalized_name": ["florian_wirtz", "harry_kane", "thomas_muller", "jeremie_frimpong"]
        })
print(df1)
print(df2)
merge_dataframes(df1, df2, ["normalized_name"])

  firstName  lastName           team   normalized_name
0   Florian     Wirtz     Leverkusen     florian_wirtz
1     Harry      Kane  Bayern Munich        harry_kane
2   Jeremie  Frimpong     Leverkusen  jeremie_frimpong
   lastName  age           team   normalized_name
0     Wirtz   22     Leverkusen     florian_wirtz
1      Kane   31  Bayern Munich        harry_kane
2    Müller   33  Bayern Munich     thomas_muller
3  Frimpong   27     Leverkusen  jeremie_frimpong
Total merged (found) entries: 3
Total without hits: 1

,firstName,lastName_x,team_x,normalized_name,lastName_y,age,team_y,_merge
0,Florian,Wirtz,Leverkusen,florian_wirtz,Wirtz,22,Leverkusen,both
1,Harry,Kane,Bayern Munich,harry_kane,Kane,31,Bayern Munich,both
2,Jeremie,Frimpong,Leverkusen,jeremie_frimpong,Frimpong,27,Leverkusen,both
3,NaN,NaN,NaN,thomas_muller,Müller,33,Bayern Munich,right_only

In [120]:
tf["id"] = tf["id"].apply(lambda x: str(x) if pd.notna(x) else "")

merged_df=merge_dataframes(kicker, tf, ["normalized_name","dateOfBirth"])
df_left=merged_df[merged_df["_merge"]=="left_only"][["id_x", "dateOfBirth", "normalized_name", "firstName_x","lastName_x"]]
df_right=merged_df[merged_df["_merge"]=="right_only"][["id_y", "dateOfBirth","normalized_name", "firstName_y","lastName_y"]]
print(df_left.head(12))
print(df_right.head(10))

Total merged (found) entries: 483
Total without hits: 37
                        id_x dateOfBirth          normalized_name  \
49            artem-stepanov  2007-08-10           artem_stepanov
66   eric-junior-dina-ebimbe  2000-11-21  eric_junior_dina_ebimbe
68            oscar-hoejlund  2005-01-04            oscar_hojlund
85                 maxim-dal  2006-01-26                maxim_dal
94             hyunseok-hong  1999-06-16            hyunseok_hong
144              viggo-gebel  2007-11-22              viggo_gebel
147     joyeux-masanka-bungi  2007-01-24     joyeux_masanka_bungi
152              xavi-simons  2003-04-21                     xavi
158               faik-sakar  2008-01-14               faik_sakar
174           bennit-broeger  2006-07-01            bennit_broger
183  mohammed-elamine-amoura  2000-05-09          mohammed_amoura
217    tiago-pereira-cardoso  2006-04-07    tiago_pereira_cardoso

     firstName_x       lastName_x
49         Artem         Stepanov
66   Eric Junior      Dina Ebimbe
68         Oscar          Höjlund
85         Maxim              Dal
94      Hyunseok             Hong
144        Viggo            Gebel
147       Joyeux    Masanka Bungi
152                          Xavi
158         Faik            Sakar
174       Bennit           Bröger
183     Mohammed           Amoura
217        Tiago  Pereira Cardoso
       id_y dateOfBirth     normalized_name firstName_y   lastName_y
505  388294  1998-02-04         omar_traore        Omar       Traoré
506  804219  1998-09-13         leo_scienza         Leo      Scienza
507  562948  1999-06-16      hyun-seok_hong   Hyun-seok         Hong
508  810826  2005-04-26     luca_novodomsky        Luca   Novodomsky
509  884820  2006-06-06      almugera_kabar    Almugera        Kabar
510  846310  2005-01-04       oscar_højlund       Oscar      Højlund
511  536482  2000-11-21  junior_dina_ebimbe      Junior  Dina Ebimbe
512  719694  2002-08-13         andu_kelati        Andu       Kelati
513  566931  2003-04-21         xavi_simons        Xavi       Simons
514  367284  1999-11-28        leo_østigard         Leo     Østigård

In [121]:
import pandas as pd
import itertools

# Rename columns in df1 and df2 to match the final format
df_left = df_left.rename(columns={"id_x": "id", "firstName_x": "firstName", "lastName_x": "lastName"})
df_right = df_right.rename(columns={"id_y": "id", "firstName_y": "firstName", "lastName_y": "lastName"})
# Concatenate the two DataFrames
final_df = pd.concat([df_left, df_right], ignore_index=True)
# Reorder columns for consistency
final_df = final_df[["id", "firstName", "lastName", "normalized_name", "dateOfBirth"]]
final_df["id"]=final_df["id"].astype(str)
print(final_df.dtypes)
print(final_df.tail())

# Group by 'dateOfBirth' and filter groups with more than two entries
grouped_df = final_df.groupby("dateOfBirth").filter(lambda x: len(x) > 1)

print(grouped_df.columns)
grouped_df[["normalized_name","dateOfBirth", "firstName", "lastName"]].sort_values(by=['dateOfBirth'], ascending=False).head(25)
print(f"grouped_df :: {grouped_df.head()} >>")
print()

def is_similar(name1, name2):
    print(f"{name1} :: {name2}")
    """Check if two names are similar by length difference and common substrings."""
    if not name1 or not name2:
        return False
    if not isinstance(name1, str) or not isinstance(name2, str):
        return False
    if abs(len(name1) - len(name2)) > 10:  # Allow minor length variations
        return False
    return name1 in name2 or name2 in name1  # Simple containment check

print(grouped_df.head())
print()

# Iterate over each group
for date, group in grouped_df.groupby("dateOfBirth"):
    print(f"\nChecking group with dateOfBirth: {date}")
    
    # Compare names within the group
    for (idx1, row1), (idx2, row2) in itertools.combinations(group.iterrows(), 2):
        if is_similar(row1["lastName"], row2["lastName"]):
            print(f"  Similar last names: {row1['lastName']} ~ {row2['lastName']} {row1['id']}::{(row2['id'])}")
            break
        if is_similar(row1["firstName"], row2["firstName"]):
            print(f"  Similar first names: {row1['firstName']} ~ {row2['firstName']} {row1['id']}::{row1['id']}")
            break
        if is_similar(row1["normalized_name"], row2["normalized_name"]):
            print(f"  Similar normalized names: {row1['normalized_name']} ~ {row2['normalized_name']} {row1['id']}::{row1['id']}")
            break

id                         object
firstName                  object
lastName                   object
normalized_name            object
dateOfBirth        datetime64[ns]
dtype: object
        id firstName  lastName   normalized_name dateOfBirth
32  334999      Finn    Becker       finn_becker  2000-06-08
33  808664   Florian  Micheler  florian_micheler  2005-05-17
34  618898   Erencan  Yardımcı  erencan_yardımcı  2002-02-04
35  303219      Jeff    Chabot       jeff_chabot  1998-02-12
36  746910   Mohamed    Amoura    mohamed_amoura  2000-05-09
Index(['id', 'firstName', 'lastName', 'normalized_name', 'dateOfBirth'], dtype='object')
grouped_df ::                          id    firstName     lastName  \
1   eric-junior-dina-ebimbe  Eric Junior  Dina Ebimbe
2            oscar-hoejlund        Oscar      Höjlund
4             hyunseok-hong     Hyunseok         Hong
7               xavi-simons                      Xavi
10  mohammed-elamine-amoura     Mohammed       Amoura

            normalized_name dateOfBirth
1   eric_junior_dina_ebimbe  2000-11-21
2             oscar_hojlund  2005-01-04
4             hyunseok_hong  1999-06-16
7                      xavi  2003-04-21
10          mohammed_amoura  2000-05-09   >>

                         id    firstName     lastName  \
1   eric-junior-dina-ebimbe  Eric Junior  Dina Ebimbe
2            oscar-hoejlund        Oscar      Höjlund
4             hyunseok-hong     Hyunseok         Hong
7               xavi-simons                      Xavi
10  mohammed-elamine-amoura     Mohammed       Amoura

            normalized_name dateOfBirth
1   eric_junior_dina_ebimbe  2000-11-21
2             oscar_hojlund  2005-01-04
4             hyunseok_hong  1999-06-16
7                      xavi  2003-04-21
10          mohammed_amoura  2000-05-09


Checking group with dateOfBirth: 1998-02-04 00:00:00
Traoré :: Traoré
  Similar last names: Traoré ~ Traoré haktab-omar-traore::388294

Checking group with dateOfBirth: 1998-02-12 00:00:00
Chabot :: Chabot
  Similar last names: Chabot ~ Chabot julian-chabot::303219

Checking group with dateOfBirth: 1998-09-13 00:00:00
Scienza :: Scienza
  Similar last names: Scienza ~ Scienza leonardo-weschenfelder-scienza::804219

Checking group with dateOfBirth: 1999-06-16 00:00:00
Hong :: Hong
  Similar last names: Hong ~ Hong hyunseok-hong::562948

Checking group with dateOfBirth: 1999-11-28 00:00:00
Östigaard :: Østigård
Leo :: Leo
  Similar first names: Leo ~ Leo leo-oestigard::leo-oestigard

Checking group with dateOfBirth: 2000-05-09 00:00:00
Amoura :: Amoura
  Similar last names: Amoura ~ Amoura mohammed-elamine-amoura::746910

Checking group with dateOfBirth: 2000-06-08 00:00:00
Becker :: Becker
  Similar last names: Becker ~ Becker finn-ole-becker::334999

Checking group with dateOfBirth: 2000-11-21 00:00:00
Dina Ebimbe :: Dina Ebimbe
  Similar last names: Dina Ebimbe ~ Dina Ebimbe eric-junior-dina-ebimbe::536482

Checking group with dateOfBirth: 2002-02-04 00:00:00
Yardimci :: Yardımcı
Erencan :: Erencan
  Similar first names: Erencan ~ Erencan erencan-yardimci::erencan-yardimci

Checking group with dateOfBirth: 2002-08-13 00:00:00
Kelati :: Kelati
  Similar last names: Kelati ~ Kelati andu-yobel-kelati::719694

Checking group with dateOfBirth: 2003-04-21 00:00:00
Xavi :: Simons
 :: Xavi
xavi :: xavi_simons
  Similar normalized names: xavi ~ xavi_simons xavi-simons::xavi-simons

Checking group with dateOfBirth: 2005-01-04 00:00:00
Höjlund :: Højlund
Oscar :: Oscar
  Similar first names: Oscar ~ Oscar oscar-hoejlund::oscar-hoejlund

In [122]:
# Ensure the column is in datetime format
final_df["dateOfBirth"] = pd.to_datetime(final_df["dateOfBirth"], errors="coerce")

final_df.info()
final_df["dateOfBirth"]=final_df["dateOfBirth"].dt.strftime("%Y-%m-%d")
final_df["id"]=final_df["id"].astype(str)
final_df.to_json(orient="records", force_ascii=False)
#print(f'{final_df["dateOfBirth"]} :: {final_df["dateOfBirth"].dt.strftime("%Y-%m-%d")}')
#print(f'{final_df["dateOfBirth"].dt.strftime("%Y-%m-%d")}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               37 non-null     object
 1   firstName        37 non-null     object
 2   lastName         37 non-null     object
 3   normalized_name  37 non-null     object
 4   dateOfBirth      37 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 1.6+ KB

'[{"id":"artem-stepanov","firstName":"Artem","lastName":"Stepanov","normalized_name":"artem_stepanov","dateOfBirth":"2007-08-10"},{"id":"eric-junior-dina-ebimbe","firstName":"Eric Junior","lastName":"Dina Ebimbe","normalized_name":"eric_junior_dina_ebimbe","dateOfBirth":"2000-11-21"},{"id":"oscar-hoejlund","firstName":"Oscar","lastName":"Höjlund","normalized_name":"oscar_hojlund","dateOfBirth":"2005-01-04"},{"id":"maxim-dal","firstName":"Maxim","lastName":"Dal","normalized_name":"maxim_dal","dateOfBirth":"2006-01-26"},{"id":"hyunseok-hong","firstName":"Hyunseok","lastName":"Hong","normalized_name":"hyunseok_hong","dateOfBirth":"1999-06-16"},{"id":"viggo-gebel","firstName":"Viggo","lastName":"Gebel","normalized_name":"viggo_gebel","dateOfBirth":"2007-11-22"},{"id":"joyeux-masanka-bungi","firstName":"Joyeux","lastName":"Masanka Bungi","normalized_name":"joyeux_masanka_bungi","dateOfBirth":"2007-01-24"},{"id":"xavi-simons","firstName":"","lastName":"Xavi","normalized_name":"xavi","dateOfBirth":"2003-04-21"},{"id":"faik-sakar","firstName":"Faik","lastName":"Sakar","normalized_name":"faik_sakar","dateOfBirth":"2008-01-14"},{"id":"bennit-broeger","firstName":"Bennit","lastName":"Bröger","normalized_name":"bennit_broger","dateOfBirth":"2006-07-01"},{"id":"mohammed-elamine-amoura","firstName":"Mohammed","lastName":"Amoura","normalized_name":"mohammed_amoura","dateOfBirth":"2000-05-09"},{"id":"tiago-pereira-cardoso","firstName":"Tiago","lastName":"Pereira Cardoso","normalized_name":"tiago_pereira_cardoso","dateOfBirth":"2006-04-07"},{"id":"julian-chabot","firstName":"Julian","lastName":"Chabot","normalized_name":"julian_chabot","dateOfBirth":"1998-02-12"},{"id":"almugera-kabar","firstName":"Almugera","lastName":"Kabar","normalized_name":"almugera_kabar","dateOfBirth":"2006-02-06"},{"id":"leo-oestigard","firstName":"Leo","lastName":"Östigaard","normalized_name":"leo_ostigaard","dateOfBirth":"1999-11-28"},{"id":"finn-ole-becker","firstName":"Finn Ole","lastName":"Becker","normalized_name":"finn_ole_becker","dateOfBirth":"2000-06-08"},{"id":"erencan-yardimci","firstName":"Erencan","lastName":"Yardimci","normalized_name":"erencan_yardimci","dateOfBirth":"2002-02-04"},{"id":"oluwaseun-ogbemudia","firstName":"Oluwaseun","lastName":"Ogbemudia","normalized_name":"oluwaseun_ogbemudia","dateOfBirth":"2006-07-18"},{"id":"luca-guenther","firstName":"Luca","lastName":"Günther","normalized_name":"luca_gunther","dateOfBirth":"2001-11-14"},{"id":"andu-yobel-kelati","firstName":"Andu Yobel","lastName":"Kelati","normalized_name":"andu_yobel_kelati","dateOfBirth":"2002-08-13"},{"id":"haktab-omar-traore","firstName":"Omar Haktab","lastName":"Traoré","normalized_name":"omar_haktab_traore","dateOfBirth":"1998-02-04"},{"id":"leonardo-weschenfelder-scienza","firstName":"Leonardo","lastName":"Scienza","normalized_name":"leonardo_scienza","dateOfBirth":"1998-09-13"},{"id":"388294","firstName":"Omar","lastName":"Traoré","normalized_name":"omar_traore","dateOfBirth":"1998-02-04"},{"id":"804219","firstName":"Leo","lastName":"Scienza","normalized_name":"leo_scienza","dateOfBirth":"1998-09-13"},{"id":"562948","firstName":"Hyun-seok","lastName":"Hong","normalized_name":"hyun-seok_hong","dateOfBirth":"1999-06-16"},{"id":"810826","firstName":"Luca","lastName":"Novodomsky","normalized_name":"luca_novodomsky","dateOfBirth":"2005-04-26"},{"id":"884820","firstName":"Almugera","lastName":"Kabar","normalized_name":"almugera_kabar","dateOfBirth":"2006-06-06"},{"id":"846310","firstName":"Oscar","lastName":"Højlund","normalized_name":"oscar_højlund","dateOfBirth":"2005-01-04"},{"id":"536482","firstName":"Junior","lastName":"Dina Ebimbe","normalized_name":"junior_dina_ebimbe","dateOfBirth":"2000-11-21"},{"id":"719694","firstName":"Andu","lastName":"Kelati","normalized_name":"andu_kelati","dateOfBirth":"2002-08-13"},{"id":"566931","firstName":"Xavi","lastName":"Simons","normalized_name":"xavi_simons","dateOfBirth":"2003-04-21"},{"id":"367284","firstName":"Leo","lastName":"Østigård","normalized_name":"leo_østigard","dateOfBirth":"1999-11-28"},{"id":"334999","firstName":"Finn","lastName":"Becker","normalized_name":"finn_becker","dateOfBirth":"2000-06-08"},{"id":"808664","firstName":"Florian","lastName":"Micheler","normalized_name":"florian_micheler","dateOfBirth":"2005-05-17"},{"id":"618898","firstName":"Erencan","lastName":"Yardımcı","normalized_name":"erencan_yardımcı","dateOfBirth":"2002-02-04"},{"id":"303219","firstName":"Jeff","lastName":"Chabot","normalized_name":"jeff_chabot","dateOfBirth":"1998-02-12"},{"id":"746910","firstName":"Mohamed","lastName":"Amoura","normalized_name":"mohamed_amoura","dateOfBirth":"2000-05-09"}]'

In [147]:
print(merged_df[merged_df["id_x"] == "haktab-omar-traore"])
print(merged_df[merged_df["id_y"] == "388294"])
t=merged_df.loc[[489,505]]
#t.to_json(orient="records", force_ascii=False)
#({'haktab-omar-traore'}, {'388294'})
#df_right=merged_df[merged_df["_merge"]=="right_only"][["id_y", "dateOfBirth","normalized_name", "firstName_y","lastName_y"]]

  

# Set _merge column to "_both"
new_merged_df["_merge"] = "_both"

new_merged_df

                   id_x  firstName_x lastName_x     currentClub_x dateOfBirth  \
489  haktab-omar-traore  Omar Haktab     Traoré  1. FC Heidenheim  1998-02-04

     height_x  weight position_x              nations   age  ... citizenship  \
489     187.0    78.0     Abwehr  [Deutschland, Togo]  27.0  ...         NaN

    position_y foot currentClub_y joined expires marketValue nn_y  source_y  \
489        NaN  NaN           NaN    NaN     NaN         NaN  NaN       NaN

        _merge
489  left_only

[1 rows x 29 columns]
    id_x firstName_x lastName_x currentClub_x dateOfBirth  height_x  weight  \
505  NaN         NaN        NaN           NaN  1998-02-04       NaN     NaN

    position_x nations  age  ...      citizenship             position_y  \
505        NaN     NaN  NaN  ...  [Germany, Togo]  Defender - Right-Back

      foot         currentClub_y       joined       expires  \
505  right  1.FC Heidenheim 1846  Jul 1, 2023  Jun 30, 2026

                                      marketValue         nn_y  source_y  \
505  {'current': 4000000.0, 'highest': 4000000.0}  omar_traore        tf

         _merge
505  right_only

[1 rows x 29 columns]

,dateOfBirth,id_x,firstName_x,lastName_x,currentClub_x,height_x,weight,position_x,nations,age,...,citizenship,position_y,foot,currentClub_y,joined,expires,marketValue,nn_y,source_y,_merge
0,1998-02-04,haktab-omar-traore,Omar Haktab,Traoré,1. FC Heidenheim,187.0,78.0,Abwehr,"[Deutschland, Togo]",27.0,...,"[Germany, Togo]",Defender - Right-Back,right,1.FC Heidenheim 1846,"Jul 1, 2023","Jun 30, 2026","{'current': 4000000.0, 'highest': 4000000.0}",omar_traore,tf,_both

In [193]:
# Combine all dataframes
df_all = pd.concat([kicker, tf, fifa], ignore_index=True)
#print(df_all.head())
# Step 3: Add "count" column per group
df_all["count"] = df_all["dateOfBirth"].map(df_all["dateOfBirth"].value_counts())
#print(df_all.head())
# Add count_similarities (count of identical normalized_name within a group)
df_all["count_similar"] = df_all.groupby(["dateOfBirth", "normalized_name"])["normalized_name"].transform("count")
# Remove rows where count and count_similar are both 3
#df_all = df_all[~((df_all['count'] == 3) & (df_all['count_similar'] == 3))]
#df_all.to_csv("D:\\DevOps\\python_work\\venv\\demoenv\\resources\\df_all.csv", encoding='utf-8', index=False)
# Group by 'dateOfBirth'
grouped = df_all.groupby("dateOfBirth")
#print(grouped.head())
# Check if 'id' is unique in the concatenated DataFrame
unique_ids = df_all['normalized_name'].is_unique
print(f"Are 'id' values unique? {unique_ids}")

# Iterate through groups and print selected columns
for date, group in grouped:
    print(group[['normalized_name', 'dateOfBirth', 'firstName', 'lastName', 'source', 'count', 'count_similar']].to_string(index=False))
    print("\n")

df_all.to_csv("D:\\DevOps\\python_work\\venv\\demoenv\\resources\\df_all_wo_similar.csv", encoding='utf-8', index=False)

Are 'id' values unique? False
normalized_name dateOfBirth firstName lastName source  count  count_similar
anthony_losilla  1986-03-10   Anthony  Losilla kicker      3              3
anthony_losilla  1986-03-10   Anthony  Losilla     tf      3              3
anthony_losilla  1986-03-10   Anthony  Losilla   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
   manuel_neuer  1986-03-27    Manuel    Neuer kicker      3              3
   manuel_neuer  1986-03-27    Manuel    Neuer     tf      3              3
   manuel_neuer  1986-03-27    Manuel    Neuer   fifa      3              3


  normalized_name dateOfBirth firstName   lastName source  count  count_similar
norman_theuerkauf  1987-01-24    Norman Theuerkauf kicker      3              3
norman_theuerkauf  1987-01-24    Norman Theuerkauf     tf      3              3
norman_theuerkauf  1987-01-24    Norman Theuerkauf   fifa      3              3


    normalized_name dateOfBirth   firstName lastName source  count  count_similar
christopher_trimmel  1987-02-24 Christopher  Trimmel kicker      3              3
christopher_trimmel  1987-02-24 Christopher  Trimmel     tf      3              3
christopher_trimmel  1987-02-24 Christopher  Trimmel   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
   pavao_pervan  1987-11-13     Pavao   Pervan kicker      3              3
   pavao_pervan  1987-11-13     Pavao   Pervan     tf      3              3
   pavao_pervan  1987-11-13     Pavao   Pervan   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
  tobias_sippel  1988-03-22    Tobias   Sippel kicker      3              3
  tobias_sippel  1988-03-22    Tobias   Sippel     tf      3              3
  tobias_sippel  1988-03-22    Tobias   Sippel   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
   sven_ulreich  1988-08-03      Sven  Ulreich kicker      3              3
   sven_ulreich  1988-08-03      Sven  Ulreich     tf      3              3
   sven_ulreich  1988-08-03      Sven  Ulreich   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
 manuel_riemann  1988-09-09    Manuel  Riemann   fifa      1              1


normalized_name dateOfBirth firstName lastName source  count  count_similar
     jens_grahl  1988-09-22      Jens    Grahl kicker      3              3
     jens_grahl  1988-09-22      Jens    Grahl     tf      3              3
     jens_grahl  1988-09-22      Jens    Grahl   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
  thomas_muller  1989-09-13    Thomas   Müller kicker      3              3
  thomas_muller  1989-09-13    Thomas   Müller     tf      3              3
  thomas_muller  1989-09-13    Thomas   Müller   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
cristian_gamboa  1989-10-24  Cristian   Gamboa kicker      3              3
cristian_gamboa  1989-10-24  Cristian   Gamboa     tf      3              3
cristian_gamboa  1989-10-24  Cristian   Gamboa   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
sascha_burchert  1989-10-30    Sascha Burchert kicker      3              3
sascha_burchert  1989-10-30    Sascha Burchert     tf      3              3
sascha_burchert  1989-10-30    Sascha Burchert   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
 lukas_hradecky  1989-11-24     Lukas Hradecky kicker      3              3
 lukas_hradecky  1989-11-24     Lukas Hradecky     tf      3              3
 lukas_hradecky  1989-11-24     Lukáš Hrádecký   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
 nicolas_hofler  1990-03-09   Nicolas   Höfler kicker      3              3
 nicolas_hofler  1990-03-09   Nicolas   Höfler     tf      3              3
 nicolas_hofler  1990-03-09   Nicolas   Höfler   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
 andreas_albers  1990-03-23   Andreas   Albers kicker      3              3
 andreas_albers  1990-03-23   Andreas   Albers     tf      3              3
 andreas_albers  1990-03-23   Andreas   Albers   fifa      3              3


 normalized_name dateOfBirth firstName lastName source  count  count_similar
timothy_chandler  1990-03-29   Timothy Chandler kicker      3              2
timothy_chandler  1990-03-29   Timothy Chandler     tf      3              2
  timmy_chandler  1990-03-29     Timmy Chandler   fifa      3              1


normalized_name dateOfBirth firstName lastName source  count  count_similar
  peter_gulacsi  1990-05-06     Peter  Gulacsi kicker      3              3
  peter_gulacsi  1990-05-06     Péter  Gulácsi     tf      3              3
  peter_gulacsi  1990-05-06     Péter  Gulácsi   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
 oliver_baumann  1990-06-02    Oliver  Baumann kicker      3              3
 oliver_baumann  1990-06-02    Oliver  Baumann     tf      3              3
 oliver_baumann  1990-06-02    Oliver  Baumann   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
    kevin_trapp  1990-07-08     Kevin    Trapp kicker      3              3
    kevin_trapp  1990-07-08     Kevin    Trapp     tf      3              3
    kevin_trapp  1990-07-08     Kevin    Trapp   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
   markus_kolke  1990-08-18    Markus    Kolke kicker      3              3
   markus_kolke  1990-08-18    Markus    Kolke     tf      3              3
   markus_kolke  1990-08-18    Markus    Kolke   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
   lewis_holtby  1990-09-18     Lewis   Holtby kicker      3              3
   lewis_holtby  1990-09-18     Lewis   Holtby     tf      3              3
   lewis_holtby  1990-09-18     Lewis   Holtby   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
    kevin_kampl  1990-10-09     Kevin    Kampl kicker      3              3
    kevin_kampl  1990-10-09     Kevin    Kampl     tf      3              3
    kevin_kampl  1990-10-09     Kevin    Kampl   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
   vitus_eicher  1990-11-05     Vitus   Eicher kicker      3              3
   vitus_eicher  1990-11-05     Vitus   Eicher     tf      3              3
   vitus_eicher  1990-11-05     Vitus   Eicher   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
    daniel_batz  1991-01-12    Daniel     Batz kicker      3              3
    daniel_batz  1991-01-12    Daniel     Batz     tf      3              3
    daniel_batz  1991-01-12    Daniel     Batz   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
  kevin_behrens  1991-02-03     Kevin  Behrens kicker      3              3
  kevin_behrens  1991-02-03     Kevin  Behrens     tf      3              3
  kevin_behrens  1991-02-03     Kevin  Behrens   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
   manuel_gulde  1991-02-12    Manuel    Gulde kicker      3              3
   manuel_gulde  1991-02-12    Manuel    Gulde     tf      3              3
   manuel_gulde  1991-02-12    Manuel    Gulde   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
   kevin_muller  1991-03-15     Kevin   Müller kicker      3              3
   kevin_muller  1991-03-15     Kevin   Müller     tf      3              3
   kevin_muller  1991-03-15     Kevin   Müller   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
alexander_meyer  1991-04-13 Alexander    Meyer kicker      3              3
alexander_meyer  1991-04-13 Alexander    Meyer     tf      3              3
alexander_meyer  1991-04-13 Alexander    Meyer   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
    pascal_groß  1991-06-15    Pascal     Groß kicker      3              3
    pascal_groß  1991-06-15    Pascal     Groß     tf      3              3
    pascal_groß  1991-06-15    Pascal     Groß   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
andrej_kramaric  1991-06-19    Andrej Kramaric kicker      3              3
andrej_kramaric  1991-06-19    Andrej Kramaric     tf      3              3
andrej_kramaric  1991-06-19    Andrej Kramarić   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
   simon_zoller  1991-06-26     Simon   Zoller kicker      3              3
   simon_zoller  1991-06-26     Simon   Zoller     tf      3              3
   simon_zoller  1991-06-26     Simon   Zoller   fifa      3              3


   normalized_name dateOfBirth firstName   lastName source  count  count_similar
jeffrey_gouweleeuw  1991-07-10   Jeffrey Gouweleeuw kicker      3              3
jeffrey_gouweleeuw  1991-07-10   Jeffrey Gouweleeuw     tf      3              3
jeffrey_gouweleeuw  1991-07-10   Jeffrey Gouweleeuw   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
    stefan_bell  1991-08-24    Stefan     Bell kicker      3              3
    stefan_bell  1991-08-24    Stefan     Bell     tf      3              3
    stefan_bell  1991-08-24    Stefan     Bell   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
     kevin_vogt  1991-09-23     Kevin     Vogt kicker      3              3
     kevin_vogt  1991-09-23     Kevin     Vogt     tf      3              3
     kevin_vogt  1991-09-23     Kevin     Vogt   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
   anthony_jung  1991-11-03   Anthony     Jung kicker      3              3
   anthony_jung  1991-11-03   Anthony     Jung     tf      3              3
   anthony_jung  1991-11-03   Anthony     Jung   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
  karim_onisiwo  1992-03-17     Karim  Onisiwo   fifa      1              1


normalized_name dateOfBirth firstName  lastName source  count  count_similar
pavel_kaderabek  1992-04-25     Pavel Kaderabek kicker      3              3
pavel_kaderabek  1992-04-25     Pavel Kaderabek     tf      3              3
pavel_kaderabek  1992-04-25     Pavel Kadeřábek   fifa      3              3


   normalized_name dateOfBirth firstName lastName source  count  count_similar
alexander_schwolow  1992-06-02 Alexander Schwolow kicker      3              3
alexander_schwolow  1992-06-02 Alexander Schwolow     tf      3              3
alexander_schwolow  1992-06-02 Alexander Schwolow   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
    mario_gotze  1992-06-03     Mario    Götze kicker      3              3
    mario_gotze  1992-06-03     Mario    Götze     tf      3              3
    mario_gotze  1992-06-03     Mario    Götze   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
    ivan_ordets  1992-07-08      Ivan   Ordets kicker      3              3
    ivan_ordets  1992-07-08      Ivan   Ordets     tf      3              3
    ivan_ordets  1992-07-08      Ivan   Ordets   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
  jonas_hofmann  1992-07-14     Jonas  Hofmann kicker      3              3
  jonas_hofmann  1992-07-14     Jonas  Hofmann     tf      3              3
  jonas_hofmann  1992-07-14     Jonas  Hofmann   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
  kevin_volland  1992-07-30     Kevin  Volland kicker      3              3
  kevin_volland  1992-07-30     Kevin  Volland     tf      3              3
  kevin_volland  1992-07-30     Kevin  Volland   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
frederik_ronnow  1992-08-04  Frederik   Rönnow kicker      3              2
frederik_ronnow  1992-08-04  Frederik   Rönnow     tf      3              2
frederik_rønnow  1992-08-04  Frederik   Rønnow   fifa      3              1


normalized_name dateOfBirth firstName lastName source  count  count_similar
   jae-sung_lee  1992-08-10  Jae-Sung      Lee kicker      3              2
   jae-sung_lee  1992-08-10  Jae-sung      Lee     tf      3              2
   jae_sung_lee  1992-08-10  Jae Sung      Lee   fifa      3              1


normalized_name dateOfBirth firstName lastName source  count  count_similar
 denis_thomalla  1992-08-16     Denis Thomalla   fifa      1              1


normalized_name dateOfBirth firstName lastName source  count  count_similar
  stefan_lainer  1992-08-27    Stefan   Lainer kicker      3              3
  stefan_lainer  1992-08-27    Stefan   Lainer     tf      3              3
  stefan_lainer  1992-08-27    Stefan   Lainer   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
   lukas_kubler  1992-08-30     Lukas   Kübler kicker      3              3
   lukas_kubler  1992-08-30     Lukas   Kübler     tf      3              3
   lukas_kubler  1992-08-30     Lukas   Kübler   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
   granit_xhaka  1992-09-27    Granit    Xhaka kicker      3              3
   granit_xhaka  1992-09-27    Granit    Xhaka     tf      3              3
   granit_xhaka  1992-09-27    Granit    Xhaka   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
    willi_orban  1992-11-03     Willi    Orban kicker      3              3
    willi_orban  1992-11-03     Willi    Orbán     tf      3              3
    willi_orban  1992-11-03     Willi    Orban   fifa      3              3


 normalized_name dateOfBirth firstName  lastName source  count  count_similar
steven_skrzybski  1992-11-18    Steven Skrzybski kicker      3              3
steven_skrzybski  1992-11-18    Steven Skrzybski     tf      3              3
steven_skrzybski  1992-11-18    Steven Skrzybski   fifa      3              3


  normalized_name dateOfBirth firstName   lastName source  count  count_similar
jerome_roussillon  1993-01-06    Jerome Roussillon kicker      3              3
jerome_roussillon  1993-01-06    Jérôme Roussillon     tf      3              3
jerome_roussillon  1993-01-06    Jérôme Roussillon   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
 patrick_drewes  1993-02-04   Patrick   Drewes kicker      3              3
 patrick_drewes  1993-02-04   Patrick   Drewes     tf      3              3
 patrick_drewes  1993-02-04   Patrick   Drewes   fifa      3              3


 normalized_name dateOfBirth firstName lastName source  count  count_similar
christian_gunter  1993-02-28 Christian   Günter kicker      3              3
christian_gunter  1993-02-28 Christian   Günter     tf      3              3
christian_gunter  1993-02-28 Christian   Günter   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
  silvan_widmer  1993-03-05    Silvan   Widmer kicker      3              3
  silvan_widmer  1993-03-05    Silvan   Widmer     tf      3              3
  silvan_widmer  1993-03-05    Silvan   Widmer   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
 jackson_irvine  1993-03-07   Jackson   Irvine kicker      3              3
 jackson_irvine  1993-03-07   Jackson   Irvine     tf      3              3
 jackson_irvine  1993-03-07   Jackson   Irvine   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
  alassane_plea  1993-03-10  Alassane     Plea kicker      3              3
  alassane_plea  1993-03-10  Alassane     Pléa     tf      3              3
  alassane_plea  1993-03-10  Alassane     Plea   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
  marius_bulter  1993-03-29    Marius   Bülter kicker      3              3
  marius_bulter  1993-03-29    Marius   Bülter     tf      3              3
  marius_bulter  1993-03-29    Marius   Bülter   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
philipp_hofmann  1993-03-30   Philipp  Hofmann kicker      3              3
philipp_hofmann  1993-03-30   Philipp  Hofmann     tf      3              3
philipp_hofmann  1993-03-30   Philipp  Hofmann   fifa      3              3


  normalized_name dateOfBirth firstName   lastName source  count  count_similar
marcel_engelhardt  1993-04-05    Marcel Engelhardt kicker      3              3
marcel_engelhardt  1993-04-05    Marcel Engelhardt     tf      3              3
marcel_engelhardt  1993-04-05    Marcel Engelhardt   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
 vincenzo_grifo  1993-04-07  Vincenzo    Grifo kicker      3              3
 vincenzo_grifo  1993-04-07  Vincenzo    Grifo     tf      3              3
 vincenzo_grifo  1993-04-07  Vincenzo    Grifo   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
      timo_horn  1993-05-12      Timo     Horn kicker      3              3
      timo_horn  1993-05-12      Timo     Horn     tf      3              3
      timo_horn  1993-05-12      Timo     Horn   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
     karol_mets  1993-05-16     Karol     Mets kicker      3              3
     karol_mets  1993-05-16     Karol     Mets     tf      3              3
     karol_mets  1993-05-16     Karol     Mets   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
  marius_muller  1993-07-12    Marius   Müller kicker      3              3
  marius_muller  1993-07-12    Marius   Müller     tf      3              3
  marius_muller  1993-07-12    Marius   Müller   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
 danny_da_costa  1993-07-13     Danny da Costa kicker      3              3
 danny_da_costa  1993-07-13     Danny da Costa     tf      3              3
 danny_da_costa  1993-07-13     Danny da Costa   fifa      3              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
     harry_kane  1993-07-28     Harry     Kane kicker      6              3
    niklas_lomb  1993-07-28    Niklas     Lomb kicker      6              3
     harry_kane  1993-07-28     Harry     Kane     tf      6              3
    niklas_lomb  1993-07-28    Niklas     Lomb     tf      6              3
     harry_kane  1993-07-28     Harry     Kane   fifa      6              3
    niklas_lomb  1993-07-28    Niklas     Lomb   fifa      6              3


normalized_name dateOfBirth firstName lastName source  count  count_similar
   kevin_stoger  1993-08-27     Kevin   Stöger kicker      3              3

In [292]:
# search terms is list of column names
# terms df holds the grouped players based on dob
def extract(search_terms:list, terms:pd.DataFrame):
    #print(f"{search_terms} :: {terms.to_dict()}")
    #print()
    
    matched = []
    for i, row in terms.iterrows():
        print(f'Row> {i}, {row} :: {type(row)} >>')
        for search_i, term in enumerate(search_terms):
            if row.iloc[search_i] == "" or search_terms[search_i] == "":
                matched.append((row.iloc[search_i], False, i))
                break
            print(f'Search> {row.iloc[search_i]} :: {search_terms[search_i]}')
            if (row.iloc[search_i] == search_terms[search_i]) or (row.iloc[search_i] in search_terms[search_i]) or (search_terms[search_i] in row.iloc[search_i]):
                matched.append((row.iloc[search_i], True, i))
                break
            else:
                matched.append((row.iloc[search_i], False, i))

    return matched
    
# Convert to DataFrames
df1 = kicker
df2 = tf
df3 = fifa

# Merge using exact match on dateOfBirth
merged_df_fuzzy = pd.concat([df1, df2, df3], ignore_index=True)
date_to_compare = pd.to_datetime("09.07.1995", format="%d.%m.%Y")
merged_df_fuzzy = merged_df_fuzzy[merged_df_fuzzy["dateOfBirth"]==date_to_compare]
#print(merged_df_fuzzy)
grouped_players = []
checked = set()

# iterate through each player rows, player are from all three sources 
for i, row in merged_df_fuzzy.iterrows():
        #print(row.loc[["normalized_name", "lastName", "firstName"]].tolist())
        if row["id"] in checked:
            continue

        # group rows based on dob, current player as baseline
        potential_matches = merged_df_fuzzy[merged_df_fuzzy["dateOfBirth"] == row["dateOfBirth"]]  
        #print(f'{row["normalized_name"]}')
        #print(f'{potential_matches[["normalized_name"]]}')
        #matched = extract(row.loc[["normalized_name", "lastName", "firstName"]].tolist(), potential_matches[["normalized_name", "lastName", "firstName"]])
        matched = extract(row.loc[["normalized_name", "lastName"]].tolist(), potential_matches[["normalized_name", "lastName"]])
        print(f"Matched> {matched}")

            id   firstName            lastName     currentClub dateOfBirth  \
16    palhinha                   Joao Palhinha  Bayern München  1995-07-09
597     257455        João            Palhinha   Bayern Munich  1995-07-09
1014    229391  João Maria  Palhinha Gonçalves             NaN  1995-07-09

      height  weight                       position     nations   age  ...  \
16     190.0    82.0                     Mittelfeld  [Portugal]  30.0  ...
597    190.0     NaN  Midfield - Defensive Midfield         NaN   NaN  ...
1014   190.0    83.0    Center Defensive Midfielder         NaN   NaN  ...

            joined       expires  \
16             NaN           NaN
597   Jul 11, 2024  Jun 30, 2028
1014           NaN           NaN

                                         marketValue   rank overallRating  \
16                                               NaN    NaN           NaN
597   {'current': 40000000.0, 'highest': 60000000.0}    NaN           NaN
1014                                             NaN  101.0          85.0

     preferredFoot  leagueName nationality               team  \
16             NaN         NaN         NaN                NaN
597            NaN         NaN         NaN                NaN
1014           1.0  Bundesliga    Portugal  FC Bayern München

                                                  stats
16                                                  NaN
597                                                 NaN
1014  {'def': {'value': 85, 'diff': 1}, 'dri': {'val...

[3 rows x 27 columns]
Row> 16, normalized_name    joao_palhinha
lastName           Joao Palhinha
Name: 16, dtype: object :: <class 'pandas.core.series.Series'> >>
Search> joao_palhinha :: joao_palhinha
Row> 597, normalized_name    joao_palhinha
lastName                Palhinha
Name: 597, dtype: object :: <class 'pandas.core.series.Series'> >>
Search> joao_palhinha :: joao_palhinha
Row> 1014, normalized_name    joao_maria_palhinha_goncalves
lastName                      Palhinha Gonçalves
Name: 1014, dtype: object :: <class 'pandas.core.series.Series'> >>
Search> joao_maria_palhinha_goncalves :: joao_palhinha
Search> Palhinha Gonçalves :: Joao Palhinha
Matched> [('joao_palhinha', True, 16), ('joao_palhinha', True, 597), ('joao_maria_palhinha_goncalves', False, 1014), ('Palhinha Gonçalves', False, 1014)]
Row> 16, normalized_name    joao_palhinha
lastName           Joao Palhinha
Name: 16, dtype: object :: <class 'pandas.core.series.Series'> >>
Search> joao_palhinha :: joao_palhinha
Row> 597, normalized_name    joao_palhinha
lastName                Palhinha
Name: 597, dtype: object :: <class 'pandas.core.series.Series'> >>
Search> joao_palhinha :: joao_palhinha
Row> 1014, normalized_name    joao_maria_palhinha_goncalves
lastName                      Palhinha Gonçalves
Name: 1014, dtype: object :: <class 'pandas.core.series.Series'> >>
Search> joao_maria_palhinha_goncalves :: joao_palhinha
Search> Palhinha Gonçalves :: Palhinha
Matched> [('joao_palhinha', True, 16), ('joao_palhinha', True, 597), ('joao_maria_palhinha_goncalves', False, 1014), ('Palhinha Gonçalves', True, 1014)]
Row> 16, normalized_name    joao_palhinha
lastName           Joao Palhinha
Name: 16, dtype: object :: <class 'pandas.core.series.Series'> >>
Search> joao_palhinha :: joao_maria_palhinha_goncalves
Search> Joao Palhinha :: Palhinha Gonçalves
Row> 597, normalized_name    joao_palhinha
lastName                Palhinha
Name: 597, dtype: object :: <class 'pandas.core.series.Series'> >>
Search> joao_palhinha :: joao_maria_palhinha_goncalves
Search> Palhinha :: Palhinha Gonçalves
Row> 1014, normalized_name    joao_maria_palhinha_goncalves
lastName                      Palhinha Gonçalves
Name: 1014, dtype: object :: <class 'pandas.core.series.Series'> >>
Search> joao_maria_palhinha_goncalves :: joao_maria_palhinha_goncalves
Matched> [('joao_palhinha', False, 16), ('Joao Palhinha', False, 16), ('joao_palhinha', False, 597), ('Palhinha', True, 597), ('joao_maria_palhinha_goncalves', True, 1014)]

In [293]:
# search terms is list of column names
# terms df holds the grouped players based on dob
def extract(search_terms:list, terms:pd.DataFrame):
    #print(f"{search_terms} :: {terms.to_dict()}")
    #print()
    
    matched = []
    for i, row in terms.iterrows():
        print(f'Row> {i}, {row} :: {type(row)} >>')
        for search_i, term in enumerate(search_terms):
            if row.iloc[search_i] == "" or search_terms[search_i] == "":
                matched.append((row.iloc[search_i], False, i))
                break
            print(f'Search> {row.iloc[search_i]} :: {search_terms[search_i]}')
            if (row.iloc[search_i] == search_terms[search_i]) or (row.iloc[search_i] in search_terms[search_i]) or (search_terms[search_i] in row.iloc[search_i]):
                matched.append((row.iloc[search_i], True, i))
                break
            else:
                matched.append((row.iloc[search_i], False, i))

    return matched
    
# Convert to DataFrames
df1 = kicker
df2 = tf
df3 = fifa

# Merge using exact match on dateOfBirth
merged_df_fuzzy = pd.concat([df1, df2, df3], ignore_index=True)
date_to_compare = pd.to_datetime("09.07.1995", format="%d.%m.%Y")
merged_df_fuzzy = merged_df_fuzzy[merged_df_fuzzy["dateOfBirth"]==date_to_compare]
#print(merged_df_fuzzy)
grouped_players = []
checked = set()

# iterate through each player rows, player are from all three sources 
for i, row in merged_df_fuzzy.iterrows():
        #print(row.loc[["normalized_name", "lastName", "firstName"]].tolist())
        if row["id"] in checked:
            continue

        # group rows based on dob, current player as baseline
        potential_matches = merged_df_fuzzy[merged_df_fuzzy["dateOfBirth"] == row["dateOfBirth"]]  
        print(potential_matches)
        #print(f'{row["normalized_name"]}')
        #print(f'{potential_matches[["normalized_name"]]}')
        #matched = extract(row.loc[["normalized_name", "lastName", "firstName"]].tolist(), potential_matches[["normalized_name", "lastName", "firstName"]])
        #matched = extract(row.loc[["normalized_name", "lastName"]].tolist(), potential_matches[["normalized_name", "lastName"]])
        #print(f"Matched> {matched}")

            id   firstName            lastName     currentClub dateOfBirth  \
16    palhinha                   Joao Palhinha  Bayern München  1995-07-09
597     257455        João            Palhinha   Bayern Munich  1995-07-09
1014    229391  João Maria  Palhinha Gonçalves             NaN  1995-07-09

      height  weight                       position     nations   age  ...  \
16     190.0    82.0                     Mittelfeld  [Portugal]  30.0  ...
597    190.0     NaN  Midfield - Defensive Midfield         NaN   NaN  ...
1014   190.0    83.0    Center Defensive Midfielder         NaN   NaN  ...

            joined       expires  \
16             NaN           NaN
597   Jul 11, 2024  Jun 30, 2028
1014           NaN           NaN

                                         marketValue   rank overallRating  \
16                                               NaN    NaN           NaN
597   {'current': 40000000.0, 'highest': 60000000.0}    NaN           NaN
1014                                             NaN  101.0          85.0

     preferredFoot  leagueName nationality               team  \
16             NaN         NaN         NaN                NaN
597            NaN         NaN         NaN                NaN
1014           1.0  Bundesliga    Portugal  FC Bayern München

                                                  stats
16                                                  NaN
597                                                 NaN
1014  {'def': {'value': 85, 'diff': 1}, 'dri': {'val...

[3 rows x 27 columns]
            id   firstName            lastName     currentClub dateOfBirth  \
16    palhinha                   Joao Palhinha  Bayern München  1995-07-09
597     257455        João            Palhinha   Bayern Munich  1995-07-09
1014    229391  João Maria  Palhinha Gonçalves             NaN  1995-07-09

      height  weight                       position     nations   age  ...  \
16     190.0    82.0                     Mittelfeld  [Portugal]  30.0  ...
597    190.0     NaN  Midfield - Defensive Midfield         NaN   NaN  ...
1014   190.0    83.0    Center Defensive Midfielder         NaN   NaN  ...

            joined       expires  \
16             NaN           NaN
597   Jul 11, 2024  Jun 30, 2028
1014           NaN           NaN

                                         marketValue   rank overallRating  \
16                                               NaN    NaN           NaN
597   {'current': 40000000.0, 'highest': 60000000.0}    NaN           NaN
1014                                             NaN  101.0          85.0

     preferredFoot  leagueName nationality               team  \
16             NaN         NaN         NaN                NaN
597            NaN         NaN         NaN                NaN
1014           1.0  Bundesliga    Portugal  FC Bayern München

                                                  stats
16                                                  NaN
597                                                 NaN
1014  {'def': {'value': 85, 'diff': 1}, 'dri': {'val...

[3 rows x 27 columns]
            id   firstName            lastName     currentClub dateOfBirth  \
16    palhinha                   Joao Palhinha  Bayern München  1995-07-09
597     257455        João            Palhinha   Bayern Munich  1995-07-09
1014    229391  João Maria  Palhinha Gonçalves             NaN  1995-07-09

      height  weight                       position     nations   age  ...  \
16     190.0    82.0                     Mittelfeld  [Portugal]  30.0  ...
597    190.0     NaN  Midfield - Defensive Midfield         NaN   NaN  ...
1014   190.0    83.0    Center Defensive Midfielder         NaN   NaN  ...

            joined       expires  \
16             NaN           NaN
597   Jul 11, 2024  Jun 30, 2028
1014           NaN           NaN

                                         marketValue   rank overallRating  \
16                                               NaN    NaN           NaN
597   {'current': 40000000.0, 'highest': 60000000.0}    NaN           NaN
1014                                             NaN  101.0          85.0

     preferredFoot  leagueName nationality               team  \
16             NaN         NaN         NaN                NaN
597            NaN         NaN         NaN                NaN
1014           1.0  Bundesliga    Portugal  FC Bayern München

                                                  stats
16                                                  NaN
597                                                 NaN
1014  {'def': {'value': 85, 'diff': 1}, 'dri': {'val...

[3 rows x 27 columns]

In [309]:
#names = ["Palhinha", "Joao Palhinha", "Palhinha Gonçalves"]
#names = ["João", "", "João Maria"]
#names = ["leo_scienza", "leonardo_scienza", "leonardo_scienza"]
names = ["alejandro_grimaldo","eric_oelschlagel","alejandro_grimaldo","eric_oelschlagel","alejandro_grimaldo_garcia"]

for i in range(len(names)):
    for j in range(i + 1, len(names)):  # Avoid self-comparison and duplicate pairs
        print(f"{names[i]} == {names[j]} → {names[i] == names[j]}")
        print(f"{names[i]} in {names[j]} → {names[i] in names[j]} or {names[j] in names[i]}")
        print()

alejandro_grimaldo == eric_oelschlagel → False
alejandro_grimaldo in eric_oelschlagel → False or False

alejandro_grimaldo == alejandro_grimaldo → True
alejandro_grimaldo in alejandro_grimaldo → True or True

alejandro_grimaldo == eric_oelschlagel → False
alejandro_grimaldo in eric_oelschlagel → False or False

alejandro_grimaldo == alejandro_grimaldo_garcia → False
alejandro_grimaldo in alejandro_grimaldo_garcia → True or False

eric_oelschlagel == alejandro_grimaldo → False
eric_oelschlagel in alejandro_grimaldo → False or False

eric_oelschlagel == eric_oelschlagel → True
eric_oelschlagel in eric_oelschlagel → True or True

eric_oelschlagel == alejandro_grimaldo_garcia → False
eric_oelschlagel in alejandro_grimaldo_garcia → False or False

alejandro_grimaldo == eric_oelschlagel → False
alejandro_grimaldo in eric_oelschlagel → False or False

alejandro_grimaldo == alejandro_grimaldo_garcia → False
alejandro_grimaldo in alejandro_grimaldo_garcia → True or False

eric_oelschlagel == alejandro_grimaldo_garcia → False
eric_oelschlagel in alejandro_grimaldo_garcia → False or False

In [335]:
# search terms is list of column names
# terms df holds the grouped players based on dob
def extract(search_terms:list, terms:pd.DataFrame):
    #print(f"{search_terms} :: {terms.to_dict()}")
    #print()
    
    matched = []
    for i, row in terms.iterrows():
        #print(f'Row> {i}, {row} :: {type(row)} >>')
        for search_i, term in enumerate(search_terms):
            if row.iloc[search_i] == "" or search_terms[search_i] == "":
                matched.append((row.iloc[search_i], False, i))
                break
            #print(f'Search> {row.iloc[search_i]} :: {search_terms[search_i]}')
            if (row.iloc[search_i] == search_terms[search_i]) or (row.iloc[search_i] in search_terms[search_i]) or (search_terms[search_i] in row.iloc[search_i]):
                matched.append((row.iloc[search_i], True, i))
                break
            else:
                matched.append((row.iloc[search_i], False, i))

    return matched
    
# Convert to DataFrames
df1 = kicker
df2 = tf
df3 = fifa

# Merge using exact match on dateOfBirth
merged_df_fuzzy = pd.concat([df1, df2, df3], ignore_index=True)
date_to_compare = pd.to_datetime("25.09.1995", format="%d.%m.%Y")
merged_df_fuzzy = merged_df_fuzzy[merged_df_fuzzy["dateOfBirth"]==date_to_compare]
#print(merged_df_fuzzy)
grouped_players = []
checked = set()

for i, row in merged_df_fuzzy.iterrows():
    if row["id"] in checked:
        continue

    potential_matches = merged_df_fuzzy[merged_df_fuzzy["dateOfBirth"] == row["dateOfBirth"]]
    #print(f'{row[["id", "normalized_name", "dateOfBirth"]]} :: {potential_matches[["id", "normalized_name"]]}')

    matched = extract(row.loc[["normalized_name"]].tolist(), potential_matches[["normalized_name"]])
    print(matched)
    match_ids = []
    for match_name, score, idx in matched:
        
        if score:
            match_ids.append(merged_df_fuzzy.loc[idx]["id"])
            checked.add(merged_df_fuzzy.loc[idx]["id"])

    grouped_players.append({
        "dateOfBirth": row["dateOfBirth"],
        "matched_ids": match_ids
     })

    
print(pd.DataFrame(grouped_players))

[('adam_dzwigala', True, 395), ('adam_dzwigala', True, 751), ('adam_dzwigała', False, 1378)]
[('adam_dzwigala', False, 395), ('adam_dzwigala', False, 751), ('adam_dzwigała', True, 1378)]
  dateOfBirth              matched_ids
0  1995-09-25  [adam-dzwigala, 236966]
1  1995-09-25                 [211362]

In [406]:
def transform_tuples(input_list):
    # Define the desired order of sources
    source_order = ['kicker', 'tf', 'fifa']
    
    # Convert list of tuples into a dictionary
    #source_dict = dict(input_list)
    source_dict = dict(map(lambda x: (x[1], x[0]), input_list))
    print(source_dict)    
    # Create a list of values following the defined order, using "" if missing
    transformed_list = [source_dict.get(source, "") for source in source_order]
    
    return transformed_list

def deep_check(n1, n2):
    names=[n1,n2]

    names_list=[name.split("_") for name in names]
    
    # Convert each sublist to a set
    sets = [set(sublist) for sublist in names_list]
    print(sets)
    
    # Find the intersection (common elements in all sets)
    common_names = set.intersection(*sets)
    #print(common_names)
    # Check if there is at least one common name
    result = bool(common_names)
    
    #print(result)  # Output: True
    return result

# search terms is list of column names
# terms df holds the grouped players based on dob
def extract(search_terms:list, terms:pd.DataFrame, columns:list):
    #print(f"{search_terms} :: {terms.to_dict()}")
    #print()
    search_terms=search_terms.loc[columns].tolist()
    terms=terms[columns]
    
    matched = []
    for i, row in terms.iterrows():
        #print(row.index)
        #print(f'Row> {i}, {row} :: {type(row)} >>')
        for search_i, term in enumerate(search_terms):
            if row.iloc[search_i] == "" or search_terms[search_i] == "":
                matched.append((row.iloc[search_i], False, i, row["source"]))
                break
            #print(f'Search> {row.iloc[search_i]} :: {search_terms[search_i]}')
            if (row.iloc[search_i] == search_terms[search_i] 
               or row.iloc[search_i] in search_terms[search_i] 
               or search_terms[search_i] in row.iloc[search_i]
                or deep_check(search_terms[search_i], row.iloc[search_i])
               ):
                matched.append((row.iloc[search_i], True, i, row["source"]))
                break
            else:
                matched.append((row.iloc[search_i], False, i, row["source"]))
                break

    return matched
    
# Convert to DataFrames
df1 = kicker
df2 = tf
df3 = fifa

# Merge using exact match on dateOfBirth
merged_df_fuzzy = pd.concat([df1, df2, df3], ignore_index=True)
#date_to_compare = pd.to_datetime("03.06.2002", format="%d.%m.%Y")
#merged_df_fuzzy = merged_df_fuzzy[merged_df_fuzzy["dateOfBirth"]==date_to_compare]
#print(merged_df_fuzzy)
grouped_players = []
checked = set()

for i, row in merged_df_fuzzy.iterrows():
    if row["id"] in checked:
        continue

    potential_matches = merged_df_fuzzy[merged_df_fuzzy["dateOfBirth"] == row["dateOfBirth"]]
    print(f'>>{row[["id", "normalized_name", "source"]]} :: {potential_matches[["id", "normalized_name", "source"]]}<<')
    #print(potential_matches[["lastName", "source"]])
    matched = extract(
        row, 
        potential_matches,
        ["normalized_name", "lastName", "firstName", "source"]
    )
    
    print(f'{row.loc[["normalized_name", "lastName"]].tolist()} :: {matched}')
    print()

    match_ids = []
    for match_name, score, idx, source in matched: 
        if score:
            match_ids.append((merged_df_fuzzy.loc[idx]["id"], merged_df_fuzzy.loc[idx]["source"]))
            checked.add(merged_df_fuzzy.loc[idx]["id"])

    grouped_players.append({
        "dateOfBirth": row["dateOfBirth"],
        "matched_ids": transform_tuples(match_ids)
     })

all=pd.DataFrame(grouped_players)
print(pd.DataFrame(grouped_players))
all.to_csv("D:\\DevOps\\python_work\\venv\\demoenv\\resources\\all.csv", encoding='utf-8', index=False)

>>id                 manuel-neuer
normalized_name    manuel_neuer
source                   kicker
Name: 0, dtype: object ::                 id normalized_name  source
0     manuel-neuer    manuel_neuer  kicker
582          17259    manuel_neuer      tf
1011        167495    manuel_neuer    fifa<<
['manuel_neuer', 'Neuer'] :: [('manuel_neuer', True, 0, 'kicker'), ('manuel_neuer', True, 582, 'tf'), ('manuel_neuer', True, 1011, 'fifa')]

{'kicker': 'manuel-neuer', 'tf': 17259, 'fifa': 167495}
>>id                 daniel-peretz
normalized_name    daniel_peretz
source                    kicker
Name: 1, dtype: object ::                  id normalized_name  source
1     daniel-peretz   daniel_peretz  kicker
583          468539   daniel_peretz      tf
1296         277823   daniel_peretz    fifa<<
['daniel_peretz', 'Peretz'] :: [('daniel_peretz', True, 1, 'kicker'), ('daniel_peretz', True, 583, 'tf'), ('daniel_peretz', True, 1296, 'fifa')]

{'kicker': 'daniel-peretz', 'tf': 468539, 'fifa': 277823}
>>id                 sven-ulreich
normalized_name    sven_ulreich
source                   kicker
Name: 2, dtype: object ::                 id normalized_name  source
2     sven-ulreich    sven_ulreich  kicker
585          40680    sven_ulreich      tf
1227        186569    sven_ulreich    fifa<<
['sven_ulreich', 'Ulreich'] :: [('sven_ulreich', True, 2, 'kicker'), ('sven_ulreich', True, 585, 'tf'), ('sven_ulreich', True, 1227, 'fifa')]

{'kicker': 'sven-ulreich', 'tf': 40680, 'fifa': 186569}
>>id                 jonas-urbig
normalized_name    jonas_urbig
source                  kicker
Name: 3, dtype: object ::               id normalized_name  source
3    jonas-urbig     jonas_urbig  kicker
584       607720     jonas_urbig      tf<<
['jonas_urbig', 'Urbig'] :: [('jonas_urbig', True, 3, 'kicker'), ('jonas_urbig', True, 584, 'tf')]

{'kicker': 'jonas-urbig', 'tf': 607720}
>>id                 sacha-boey
normalized_name    sacha_boey
source                 kicker
Name: 4, dtype: object ::               id normalized_name  source
4     sacha-boey      sacha_boey  kicker
594       475413      sacha_boey      tf
1066      248266      sacha_boey    fifa<<
['sacha_boey', 'Boey'] :: [('sacha_boey', True, 4, 'kicker'), ('sacha_boey', True, 594, 'tf'), ('sacha_boey', True, 1066, 'fifa')]

{'kicker': 'sacha-boey', 'tf': 475413, 'fifa': 248266}
>>id                 tarek-buchmann
normalized_name    tarek_buchmann
source                     kicker
Name: 5, dtype: object ::                   id normalized_name  source
5     tarek-buchmann  tarek_buchmann  kicker
590           744729  tarek_buchmann      tf
1470          276004  tarek_buchmann    fifa<<
['tarek_buchmann', 'Buchmann'] :: [('tarek_buchmann', True, 5, 'kicker'), ('tarek_buchmann', True, 590, 'tf'), ('tarek_buchmann', True, 1470, 'fifa')]

{'kicker': 'tarek-buchmann', 'tf': 744729, 'fifa': 276004}
>>id                 alphonso-davies
normalized_name    alphonso_davies
source                      kicker
Name: 6, dtype: object ::                    id  normalized_name  source
6     alphonso-davies  alphonso_davies  kicker
591            424204  alphonso_davies      tf
1035           234396  alphonso_davies    fifa<<
['alphonso_davies', 'Davies'] :: [('alphonso_davies', True, 6, 'kicker'), ('alphonso_davies', True, 591, 'tf'), ('alphonso_davies', True, 1035, 'fifa')]

{'kicker': 'alphonso-davies', 'tf': 424204, 'fifa': 234396}
>>id                 eric-dier
normalized_name    eric_dier
source                kicker
Name: 7, dtype: object ::              id normalized_name  source
7     eric-dier       eric_dier  kicker
589      175722       eric_dier      tf
1059     202335       eric_dier    fifa<<
['eric_dier', 'Dier'] :: [('eric_dier', True, 7, 'kicker'), ('eric_dier', True, 589, 'tf'), ('eric_dier', True, 1059, 'fifa')]

{'kicker': 'eric-dier', 'tf': 175722, 'fifa': 202335}
>>id                 raphael-guerreiro
normalized_name    raphael_guerreiro
source                        kicker
Name: 8, dtype: object ::                      id    normalized_name  source
8     raphael-guerreiro  raphael_guerreiro  kicker
592              170986  raphael_guerreiro      tf
1038             209889  raphael_guerreiro    fifa<<
['raphael_guerreiro', 'Guerreiro'] :: [('raphael_guerreiro', True, 8, 'kicker'), ('raphael_guerreiro', True, 592, 'tf'), ('raphael_guerreiro', True, 1038, 'fifa')]

{'kicker': 'raphael-guerreiro', 'tf': 170986, 'fifa': 209889}
>>id                 hiroki-ito
normalized_name    hiroki_ito
source                 kicker
Name: 9, dtype: object ::               id normalized_name  source
9     hiroki-ito      hiroki_ito  kicker
588       353892      hiroki_ito      tf
1072      234205      hiroki_ito    fifa<<
['hiroki_ito', 'Ito'] :: [('hiroki_ito', True, 9, 'kicker'), ('hiroki_ito', True, 588, 'tf'), ('hiroki_ito', True, 1072, 'fifa')]

{'kicker': 'hiroki-ito', 'tf': 353892, 'fifa': 234205}
>>id                 min-jae-kim
normalized_name    min-jae_kim
source                  kicker
Name: 10, dtype: object ::                id normalized_name  source
10    min-jae-kim     min-jae_kim  kicker
587        503482     min-jae_kim      tf
1026       237086     min_jae_kim    fifa<<
[{'kim', 'min-jae'}, {'min', 'kim', 'jae'}]
['min-jae_kim', 'Kim'] :: [('min-jae_kim', True, 10, 'kicker'), ('min-jae_kim', True, 587, 'tf'), ('min_jae_kim', True, 1026, 'fifa')]

{'kicker': 'min-jae-kim', 'tf': 503482, 'fifa': 237086}
>>id                 josip-stanisic
normalized_name    josip_stanisic
source                     kicker
Name: 11, dtype: object ::                   id normalized_name  source
11    josip-stanisic  josip_stanisic  kicker
593           483046  josip_stanisic      tf
1113          250955  josip_stanisic    fifa<<
['josip_stanisic', 'Stanisic'] :: [('josip_stanisic', True, 11, 'kicker'), ('josip_stanisic', True, 593, 'tf'), ('josip_stanisic', True, 1113, 'fifa')]

{'kicker': 'josip-stanisic', 'tf': 483046, 'fifa': 250955}
>>id                 dayot-upamecano
normalized_name    dayot_upamecano
source                      kicker
Name: 12, dtype: object ::                    id  normalized_name  source
12    dayot-upamecano  dayot_upamecano  kicker
586            344695  dayot_upamecano      tf
1046           229558  dayot_upamecano    fifa<<
['dayot_upamecano', 'Upamecano'] :: [('dayot_upamecano', True, 12, 'kicker'), ('dayot_upamecano', True, 586, 'tf'), ('dayot_upamecano', True, 1046, 'fifa')]

{'kicker': 'dayot-upamecano', 'tf': 344695, 'fifa': 229558}
>>id                 kingsley-coman
normalized_name    kingsley_coman
source                     kicker
Name: 13, dtype: object ::                   id normalized_name  source
13    kingsley-coman  kingsley_coman  kicker
602           243714  kingsley_coman      tf
1017          213345  kingsley_coman    fifa<<
['kingsley_coman', 'Coman'] :: [('kingsley_coman', True, 13, 'kicker'), ('kingsley_coman', True, 602, 'tf'), ('kingsley_coman', True, 1017, 'fifa')]

{'kicker': 'kingsley-coman', 'tf': 243714, 'fifa': 213345}
>>id                 serge-gnabry
normalized_name    serge_gnabry
source                   kicker
Name: 14, dtype: object ::                 id normalized_name  source
14    serge-gnabry    serge_gnabry  kicker
601         159471    serge_gnabry      tf
1037        206113    serge_gnabry    fifa<<
['serge_gnabry', 'Gnabry'] :: [('serge_gnabry', True, 14, 'kicker'), ('serge_gnabry', True, 601, 'tf'), ('serge_gnabry', True, 1037, 'fifa')]

{'kicker': 'serge-gnabry', 'tf': 159471, 'fifa': 206113}
>>id                 leon-goretzka
normalized_name    leon_goretzka
source                    kicker
Name: 15, dtype: object ::                  id normalized_name  source
15    leon-goretzka   leon_goretzka  kicker
599          153084   leon_goretzka      tf
1025         209658   leon_goretzka    fifa<<
['leon_goretzka', 'Goretzka'] :: [('leon_goretzka', True, 15, 'kicker'), ('leon_goretzka', True, 599, 'tf'), ('leon_goretzka', True, 1025, 'fifa')]

{'kicker': 'leon-goretzka', 'tf': 153084, 'fifa': 209658}
>>id                      palhinha
normalized_name    joao_palhinha
source                    kicker
Name: 16, dtype: object ::             id                normalized_name  source
16    palhinha                  joao_palhinha  kicker
597     257455                  joao_palhinha      tf
1014    229391  joao_maria_palhinha_goncalves    fifa<<
[{'joao', 'palhinha'}, {'goncalves', 'maria', 'joao', 'palhinha'}]
['joao_palhinha', 'Joao Palhinha'] :: [('joao_palhinha', True, 16, 'kicker'), ('joao_palhinha', True, 597, 'tf'), ('joao_maria_palhinha_goncalves', True, 1014, 'fifa')]

{'kicker': 'palhinha', 'tf': 257455, 'fifa': 229391}
>>id                 joshua-kimmich
normalized_name    joshua_kimmich
source                     kicker
Name: 17, dtype: object ::                   id normalized_name  source
17    joshua-kimmich  joshua_kimmich  kicker
595           161056  joshua_kimmich      tf
1010          212622  joshua_kimmich    fifa<<
['joshua_kimmich', 'Kimmich'] :: [('joshua_kimmich', True, 17, 'kicker'), ('joshua_kimmich', True, 595, 'tf'), ('joshua_kimmich', True, 1010, 'fifa')]

{'kicker': 'joshua-kimmich', 'tf': 161056, 'fifa': 212622}
>>id                 konrad-laimer
normalized_name    konrad_laimer
source                    kicker
Name: 18, dtype: object ::                  id normalized_name  source
18    konrad-laimer   konrad_laimer  kicker
598          223967   konrad_laimer      tf
1027         225375   konrad_laimer    fifa<<
['konrad_laimer', 'Laimer'] :: [('konrad_laimer', True, 18, 'kicker'), ('konrad_laimer', True, 598, 'tf'), ('konrad_laimer', True, 1027, 'fifa')]

{'kicker': 'konrad-laimer', 'tf': 223967, 'fifa': 225375}
>>id                 thomas-mueller
normalized_name     thomas_muller
source                     kicker
Name: 19, dtype: object ::                   id normalized_name  source
19    thomas-mueller   thomas_muller  kicker
605            58358   thomas_muller      tf
1041          189596   thomas_muller    fifa<<
['thomas_muller', 'Müller'] :: [('thomas_muller', True, 19, 'kicker'), ('thomas_muller', True, 605, 'tf'), ('thomas_muller', True, 1041, 'fifa')]

{'kicker': 'thomas-mueller', 'tf': 58358, 'fifa': 189596}
>>id                 jamal-musiala
normalized_name    jamal_musiala
source                    kicker
Name: 20, dtype: object ::                  id normalized_name  source
20    jamal-musiala   jamal_musiala  kicker
600          580195   jamal_musiala      tf
1006         256790   jamal_musiala    fifa<<
['jamal_musiala', 'Musiala'] :: [('jamal_musiala', True, 20, 'kicker'), ('jamal_musiala', True, 600, 'tf'), ('jamal_musiala', True, 1006, 'fifa')]

{'kicker': 'jamal-musiala', 'tf': 580195, 'fifa': 256790}
>>id                 michael-olise
normalized_name    michael_olise
source                    kicker
Name: 21, dtype: object ::                  id normalized_name  source
21    michael-olise   michael_olise  kicker
603          566723   michael_olise      tf
1042         247827   michael_olise    fifa<<
['michael_olise', 'Olise'] :: [('michael_olise', True, 21, 'kicker'), ('michael_olise', True, 603, 'tf'), ('michael_olise', True, 1042, 'fifa')]

{'kicker': 'michael-olise', 'tf': 566723, 'fifa': 247827}
>>id                 aleksandar-pavlovic
normalized_name    aleksandar_pavlovic
source                          kicker
Name: 22, dtype: object ::                        id      normalized_name  source
22    aleksandar-pavlovic  aleksandar_pavlovic  kicker
358           david-mokwa          david_mokwa  kicker
596                792380  aleksandar_pavlovic      tf
914                974894          david_mokwa      tf
1260               275298  aleksandar_pavlovic    fifa<<
[{'aleksandar', 'pavlovic'}, {'mokwa', 'david'}]
[{'aleksandar', 'pavlovic'}, {'mokwa', 'david'}]
['aleksandar_pavlovic', 'Pavlovic'] :: [('aleksandar_pavlovic', True, 22, 'kicker'), ('david_mokwa', False, 358, 'kicker'), ('aleksandar_pavlovic', True, 596, 'tf'), ('david_mokwa', False, 914, 'tf'), ('aleksandar_pavlovic', True, 1260, 'fifa')]

{'kicker': 'aleksandar-pavlovic', 'tf': 792380, 'fifa': 275298}
>>id                 leroy-sane
normalized_name    leroy_sane
source                 kicker
Name: 23, dtype: object ::                      id    normalized_name  source
23           leroy-sane         leroy_sane  kicker
349   diadie-samassekou  diadie_samassekou  kicker
604              192565         leroy_sane      tf
898              315604  diadie_samassekou      tf
1015             222492         leroy_sane    fifa
1220             235424  diadie_samassekou    fifa<<
[{'sane', 'leroy'}, {'samassekou', 'diadie'}]
[{'sane', 'leroy'}, {'samassekou', 'diadie'}]
[{'sane', 'leroy'}, {'samassekou', 'diadie'}]
['leroy_sane', 'Sané'] :: [('leroy_sane', True, 23, 'kicker'), ('diadie_samassekou', False, 349, 'kicker'), ('leroy_sane', True, 604, 'tf'), ('diadie_samassekou', False, 898, 'tf'), ('leroy_sane', True, 1015, 'fifa'), ('diadie_samassekou', False, 1220, 'fifa')]

{'kicker': 'leroy-sane', 'tf': 192565, 'fifa': 222492}
>>id                 harry-kane
normalized_name    harry_kane
source                 kicker
Name: 24, dtype: object ::                id normalized_name  source
24     harry-kane      harry_kane  kicker
28    niklas-lomb     niklas_lomb  kicker
607        132098      harry_kane      tf
610         85543     niklas_lomb      tf
1003       202126      harry_kane    fifa
1424       210366     niklas_lomb    fifa<<
[{'kane', 'harry'}, {'niklas', 'lomb'}]
[{'kane', 'harry'}, {'niklas', 'lomb'}]
[{'kane', 'harry'}, {'niklas', 'lomb'}]
['harry_kane', 'Kane'] :: [('harry_kane', True, 24, 'kicker'), ('niklas_lomb', False, 28, 'kicker'), ('harry_kane', True, 607, 'tf'), ('niklas_lomb', False, 610, 'tf'), ('harry_kane', True, 1003, 'fifa'), ('niklas_lomb', False, 1424, 'fifa')]

{'kicker': 'harry-kane', 'tf': 132098, 'fifa': 202126}
>>id                 gabriel-vidovic
normalized_name    gabriel_vidovic
source                      kicker
Name: 25, dtype: object ::                    id  normalized_name  source
25    gabriel-vidovic  gabriel_vidovic  kicker
606            604327  gabriel_vidovic      tf
1397           267899  gabriel_vidovic    fifa<<
['gabriel_vidovic', 'Vidovic'] :: [('gabriel_vidovic', True, 25, 'kicker'), ('gabriel_vidovic', True, 606, 'tf'), ('gabriel_vidovic', True, 1397, 'fifa')]

{'kicker': 'gabriel-vidovic', 'tf': 604327, 'fifa': 267899}
>>id                 lukas-hradecky
normalized_name    lukas_hradecky
source                     kicker
Name: 26, dtype: object ::                   id normalized_name  source
26    lukas-hradecky  lukas_hradecky  kicker
609            48015  lukas_hradecky      tf
1021          190941  lukas_hradecky    fifa<<
['lukas_hradecky', 'Hradecky'] :: [('lukas_hradecky', True, 26, 'kicker'), ('lukas_hradecky', True, 609, 'tf'), ('lukas_hradecky', True, 1021, 'fifa')]

{'kicker': 'lukas-hradecky', 'tf': 48015, 'fifa': 190941}
>>id                 matej-kovar
normalized_name    matej_kovar
source                  kicker
Name: 27, dtype: object ::                id normalized_name  source
27    matej-kovar     matej_kovar  kicker
608        550829     matej_kovar      tf
1138       242948     matej_kovar    fifa<<
['matej_kovar', 'Kovar'] :: [('matej_kovar', True, 27, 'kicker'), ('matej_kovar', True, 608, 'tf'), ('matej_kovar', True, 1138, 'fifa')]

{'kicker': 'matej-kovar', 'tf': 550829, 'fifa': 242948}
>>id                 niklas-lomb
normalized_name    niklas_lomb
source                  kicker
Name: 28, dtype: object ::                id normalized_name  source
24     harry-kane      harry_kane  kicker
28    niklas-lomb     niklas_lomb  kicker
607        132098      harry_kane      tf
610         85543     niklas_lomb      tf
1003       202126      harry_kane    fifa
1424       210366     niklas_lomb    fifa<<
[{'niklas', 'lomb'}, {'kane', 'harry'}]
[{'niklas', 'lomb'}, {'kane', 'harry'}]
[{'niklas', 'lomb'}, {'kane', 'harry'}]
['niklas_lomb', 'Lomb'] :: [('harry_kane', False, 24, 'kicker'), ('niklas_lomb', True, 28, 'kicker'), ('harry_kane', False, 607, 'tf'), ('niklas_lomb', True, 610, 'tf'), ('harry_kane', False, 1003, 'fifa'), ('niklas_lomb', True, 1424, 'fifa')]

{'kicker': 'niklas-lomb', 'tf': 85543, 'fifa': 210366}
>>id                 arthur-5
normalized_name      arthur
source               kicker
Name: 29, dtype: object ::            id normalized_name  source
29   arthur-5          arthur  kicker
619    977464          arthur      tf<<
['arthur', 'Arthur'] :: [('arthur', True, 29, 'kicker'), ('arthur', True, 619, 'tf')]

{'kicker': 'arthur-5', 'tf': 977464}
>>id                 jeanu-l-belocian
normalized_name    jeanuel_belocian
source                       kicker
Name: 30, dtype: object ::                     id   normalized_name  source
30    jeanu-l-belocian  jeanuel_belocian  kicker
615             919515  jeanuel_belocian      tf
1329            268622  jeanuel_belocian    fifa<<
['jeanuel_belocian', 'Belocian'] :: [('jeanuel_belocian', True, 30, 'kicker'), ('jeanuel_belocian', True, 615, 'tf'), ('jeanuel_belocian', True, 1329, 'fifa')]

{'kicker': 'jeanu-l-belocian', 'tf': 919515, 'fifa': 268622}
>>id                 jeremie-frimpong
normalized_name    jeremie_frimpong
source                       kicker
Name: 31, dtype: object ::                     id   normalized_name  source
31    jeremie-frimpong  jeremie_frimpong  kicker
624             484547  jeremie_frimpong      tf
1018            253149  jeremie_frimpong    fifa<<
['jeremie_frimpong', 'Frimpong'] :: [('jeremie_frimpong', True, 31, 'kicker'), ('jeremie_frimpong', True, 624, 'tf'), ('jeremie_frimpong', True, 1018, 'fifa')]

{'kicker': 'jeremie-frimpong', 'tf': 484547, 'fifa': 253149}
>>id                 alejandro-grimaldo
normalized_name    alejandro_grimaldo
source                         kicker
Name: 32, dtype: object ::                       id            normalized_name  source
32    alejandro-grimaldo         alejandro_grimaldo  kicker
391    eric-oelschlaegel           eric_oelschlagel  kicker
617               193082         alejandro_grimaldo      tf
743               152460           eric_oelschlagel      tf
1008              210035  alejandro_grimaldo_garcia    fifa<<
[{'grimaldo', 'alejandro'}, {'eric', 'oelschlagel'}]
[{'grimaldo', 'alejandro'}, {'eric', 'oelschlagel'}]
['alejandro_grimaldo', 'Grimaldo'] :: [('alejandro_grimaldo', True, 32, 'kicker'), ('eric_oelschlagel', False, 391, 'kicker'), ('alejandro_grimaldo', True, 617, 'tf'), ('eric_oelschlagel', False, 743, 'tf'), ('alejandro_grimaldo_garcia', True, 1008, 'fifa')]

{'kicker': 'alejandro-grimaldo', 'tf': 193082, 'fifa': 210035}
>>id                 mario-hermoso
normalized_name    mario_hermoso
source                    kicker
Name: 33, dtype: object ::                 id normalized_name  source
33   mario-hermoso   mario_hermoso  kicker
616         281769   mario_hermoso      tf<<
['mario_hermoso', 'Hermoso'] :: [('mario_hermoso', True, 33, 'kicker'), ('mario_hermoso', True, 616, 'tf')]

{'kicker': 'mario-hermoso', 'tf': 281769}
>>id                 piero-hincapie
normalized_name    piero_hincapie
source                     kicker
Name: 34, dtype: object ::                   id normalized_name  source
34    piero-hincapie  piero_hincapie  kicker
612           659813  piero_hincapie      tf
1050          256197  piero_hincapie    fifa<<
['piero_hincapie', 'Hincapie'] :: [('piero_hincapie', True, 34, 'kicker'), ('piero_hincapie', True, 612, 'tf'), ('piero_hincapie', True, 1050, 'fifa')]

{'kicker': 'piero-hincapie', 'tf': 659813, 'fifa': 256197}
>>id                 nordi-mukiele
normalized_name    nordi_mukiele
source                    kicker
Name: 35, dtype: object ::                    id  normalized_name  source
35      nordi-mukiele    nordi_mukiele  kicker
297   elvis-rexhbecaj  elvis_rexhbecaj  kicker
618            348026    nordi_mukiele      tf

In [361]:
# Convert to DataFrames
df1 = kicker
df2 = tf
df3 = fifa

# Merge using exact match on dateOfBirth
merged_df_fuzzy = pd.concat([df1, df2, df3], ignore_index=True)

print(merged_df_fuzzy[["id", "dateOfBirth", "normalized_name"]].sort_values(by=['dateOfBirth'], ascending=False))
n1="joao_palhinha"
n2="joao_palhinha"
n3="joao_maria_palhinha_goncalves"

names=[n1,n2,n3]

names_list=[name.split("_") for name in names]

# Convert each sublist to a set
sets = [set(sublist) for sublist in names_list]
print(sets)

# Find the intersection (common elements in all sets)
common_names = set.intersection(*sets)
print(common_names)
# Check if there is at least one common name
result = bool(common_names)

print(result)  # Output: True

                   id dateOfBirth  normalized_name
158        faik-sakar  2008-01-14       faik_sakar
144       viggo-gebel  2007-11-22      viggo_gebel
49     artem-stepanov  2007-08-10   artem_stepanov
981           1075579  2007-04-21    mathys_angely
164     mathys-angely  2007-04-21    mathys_angely
...               ...         ...              ...
582             17259  1986-03-27     manuel_neuer
0        manuel-neuer  1986-03-27     manuel_neuer
960            111266  1986-03-10  anthony_losilla
440   anthony-losilla  1986-03-10  anthony_losilla
1207           199288  1986-03-10  anthony_losilla

[1486 rows x 3 columns]
[{'joao', 'palhinha'}, {'joao', 'palhinha'}, {'goncalves', 'maria', 'joao', 'palhinha'}]
{'joao', 'palhinha'}
True

In [ ]:
def filter_missing_fifa(normalized_data:list):
    #print(normalized_data['matched_ids'].head().tolist())
    """Return only tuples where FIFA is empty."""
    #l=[item for item in normalized_data['matched_ids'].tolist()]
    #print(f"{type(l[1])} :: {l}")
    l=[item for item in normalized_data if item[2] == ""]
    return l


def transform_tuples(input_list):
    # Define the desired order of sources
    source_order = ['kicker', 'tf', 'fifa']
    
    # Convert list of tuples into a dictionary
    #source_dict = dict(input_list)
    source_dict = dict(map(lambda x: (x[1], x[0]), input_list))
    print(source_dict)    
    # Create a list of values following the defined order, using "" if missing
    transformed_list = [source_dict.get(source, "") for source in source_order]
    
    return transformed_list

# Example lists of tuples
list1 = [('yan-couto', 'kicker'), (627228, 'tf'), (259075, 'fifa')]
list2 = [(262665, 'fifa')]

# Transform the lists 
result1 = transform_tuples(list1)
result2 = transform_tuples(list2)

# Print the results
print(result1)  # Output: ['yan-couto', 627228, 259075]
print(result2)  # Output: ['', '', 262665]

In [463]:
import ast

PLAYERS_ALL_FILE='D:\\DevOps\\python_work\\venv\\demoenv\\resources\\all.csv'
players_all=pd.read_csv(PLAYERS_ALL_FILE)
players_all.head()
print(players_all.head())
players_list=players_all["matched_ids"].apply(ast.literal_eval)
print(f"{players_list[:5]} :: {type(players_list.tolist())}")
print(players_list.tolist()[:5])
print(filter_missing_fifa(players_list.tolist()))
wo_fifa=filter_missing_fifa(players_list.tolist())

[(sublist[0], 'kicker') if sublist[0] else (sublist[1], 'tf') for sublist in wo_fifa]

  dateOfBirth                        matched_ids
0  1986-03-27    ['manuel-neuer', 17259, 167495]
1  2000-07-10  ['daniel-peretz', 468539, 277823]
2  1988-08-03    ['sven-ulreich', 40680, 186569]
3  2003-08-08        ['jonas-urbig', 607720, '']
4  2000-09-13     ['sacha-boey', 475413, 248266]
0      [manuel-neuer, 17259, 167495]
1    [daniel-peretz, 468539, 277823]
2      [sven-ulreich, 40680, 186569]
3            [jonas-urbig, 607720, ]
4       [sacha-boey, 475413, 248266]
Name: matched_ids, dtype: object :: <class 'list'>
[['manuel-neuer', 17259, 167495], ['daniel-peretz', 468539, 277823], ['sven-ulreich', 40680, 186569], ['jonas-urbig', 607720, ''], ['sacha-boey', 475413, 248266]]
[['jonas-urbig', 607720, ''], ['arthur-5', 977464, ''], ['mario-hermoso', 281769, ''], ['emiliano-buendia', 321247, ''], ['alejo-sarco', 1000675, ''], ['artem-stepanov', '', ''], ['tuta', 546213, ''], ['michy-batshuayi', 179184, ''], ['sepe-elye-wahi', 659542, ''], ['maxim-dal', '', ''], ['maxim-leitsch', 334207, ''], ['arnaud-nordin', 324811, ''], ['bruno-ogbus', 863759, ''], ['jan-niklas-beste', 342967, ''], ['kosta-nedeljkovic', 848682, ''], ['viggo-gebel', '', ''], ['joyeux-masanka-bungi', '', ''], ['tidiam-gomis', 955448, ''], ['faik-sakar', '', ''], ['mathys-angely', 1075579, ''], ['mads-roerslev-rasmussen', 391005, ''], ['andreas-skov-olsen', 432982, ''], ['niklas-swider', 1009463, ''], ['shio-fukuda', 1073997, ''], ['tiago-pereira-cardoso', '', ''], ['anrie-chase', 948537, ''], ['luca-jaquez', 539798, ''], ['finn-jeltsch', 924117, ''], ['silas-ostrzinski', 684116, ''], ['almugera-kabar', '', ''], ['filippo-calixte-mane', 883007, ''], ['daniel-svensson', 579287, ''], ['carney-chukwuemeka', 659459, ''], ['alexis-claude-maurice', 384593, ''], ['mahmut-kuecueksahin', 730486, ''], ['marius-wolf', 193900, ''], ['issa-kabore', 649452, ''], ['jakob-busk', 203411, ''], ['arthur-chaves', 875332, ''], ['christopher-lenz', 159844, ''], ['leo-oestigard', 367284, ''], ['bazoumana-toure', 1067904, ''], ['david-mokwa', 974894, ''], ['gift-emmanuel-orban', 1018259, ''], ['erencan-yardimci', 618898, ''], ['oluwaseun-ogbemudia', '', ''], ['robert-skov', 270393, ''], ['andrej-ilic', 583699, ''], ['marin-ljubicic-2', 838236, ''], ['david-preu', 745075, ''], ['eric-oelschlaegel', 152460, ''], ['muhammad-dahaba', 914890, ''], ['siebe-van-der-heyden', 400131, ''], ['james-sands', 393321, ''], ['marwin-schmitz', 1003534, ''], ['romeo-aikbekaen', 795387, ''], ['abdoulie-ceesay', 1280281, ''], ['niklas-jahn-3', 744600, ''], ['tom-krauss', 405687, ''], ['giorgos-masouras', 329517, ''], ['dominik-javorcek', 610608, ''], ['ivan-nekic', 464333, ''], ['john-tolkin', 683812, ''], ['david-zec', 469709, ''], ['sirlord-conteh', 307183, ''], ['budu-zivzivadze', 187097, ''], ['', 810826, ''], ['', 884820, ''], ['', 808664, '']]

[('jonas-urbig', 'kicker'),
 ('arthur-5', 'kicker'),
 ('mario-hermoso', 'kicker'),
 ('emiliano-buendia', 'kicker'),
 ('alejo-sarco', 'kicker'),
 ('artem-stepanov', 'kicker'),
 ('tuta', 'kicker'),
 ('michy-batshuayi', 'kicker'),
 ('sepe-elye-wahi', 'kicker'),
 ('maxim-dal', 'kicker'),
 ('maxim-leitsch', 'kicker'),
 ('arnaud-nordin', 'kicker'),
 ('bruno-ogbus', 'kicker'),
 ('jan-niklas-beste', 'kicker'),
 ('kosta-nedeljkovic', 'kicker'),
 ('viggo-gebel', 'kicker'),
 ('joyeux-masanka-bungi', 'kicker'),
 ('tidiam-gomis', 'kicker'),
 ('faik-sakar', 'kicker'),
 ('mathys-angely', 'kicker'),
 ('mads-roerslev-rasmussen', 'kicker'),
 ('andreas-skov-olsen', 'kicker'),
 ('niklas-swider', 'kicker'),
 ('shio-fukuda', 'kicker'),
 ('tiago-pereira-cardoso', 'kicker'),
 ('anrie-chase', 'kicker'),
 ('luca-jaquez', 'kicker'),
 ('finn-jeltsch', 'kicker'),
 ('silas-ostrzinski', 'kicker'),
 ('almugera-kabar', 'kicker'),
 ('filippo-calixte-mane', 'kicker'),
 ('daniel-svensson', 'kicker'),
 ('carney-chukwuemeka', 'kicker'),
 ('alexis-claude-maurice', 'kicker'),
 ('mahmut-kuecueksahin', 'kicker'),
 ('marius-wolf', 'kicker'),
 ('issa-kabore', 'kicker'),
 ('jakob-busk', 'kicker'),
 ('arthur-chaves', 'kicker'),
 ('christopher-lenz', 'kicker'),
 ('leo-oestigard', 'kicker'),
 ('bazoumana-toure', 'kicker'),
 ('david-mokwa', 'kicker'),
 ('gift-emmanuel-orban', 'kicker'),
 ('erencan-yardimci', 'kicker'),
 ('oluwaseun-ogbemudia', 'kicker'),
 ('robert-skov', 'kicker'),
 ('andrej-ilic', 'kicker'),
 ('marin-ljubicic-2', 'kicker'),
 ('david-preu', 'kicker'),
 ('eric-oelschlaegel', 'kicker'),
 ('muhammad-dahaba', 'kicker'),
 ('siebe-van-der-heyden', 'kicker'),
 ('james-sands', 'kicker'),
 ('marwin-schmitz', 'kicker'),
 ('romeo-aikbekaen', 'kicker'),
 ('abdoulie-ceesay', 'kicker'),
 ('niklas-jahn-3', 'kicker'),
 ('tom-krauss', 'kicker'),
 ('giorgos-masouras', 'kicker'),
 ('dominik-javorcek', 'kicker'),
 ('ivan-nekic', 'kicker'),
 ('john-tolkin', 'kicker'),
 ('david-zec', 'kicker'),
 ('sirlord-conteh', 'kicker'),
 ('budu-zivzivadze', 'kicker'),
 (810826, 'tf'),
 (884820, 'tf'),
 (808664, 'tf')]

In [465]:
kicker["id"].get("jonas-urbig", "N/A")

'N/A'